<!-- Footer -->
<footer id="footer">
  <div class="container text-center">
    <div class="row" id="credits">
      <div class="col-md-12 info">
        <dl>
          <dt>发布</dt>
          <dd>YYYY-MM-DD</dd>
        </dl>
        <dl class="dl-list">
          <dt>设计 + 创建</dt>
          <dd><a href="//www.zaobao.com.sg/interactive-designer/lin-ling-li" target="_blank">林玲莉</a></dd>
          <dt>后端开发</dt>
          <dd><a href="//www.zaobao.com.sg/frontend-developer/liu-pei-wen" target="_blank">刘姵妏</a></dd>
        </dl>
        <aside>别错过更多 <a href="//zaobao.com/interactive-graphics" target="_blank">zaobao.sg 互动内容</a></aside>
      </div>
    </div>
    <div id="contact">
      <div class="row" id="zbsg-interactive">
        <div class="col-md-12">
          <div class="contact-about">
            <a href="//zaobao.com/" target="_blank"><img src="//interactive.zaobao.com/lib/imgs/zaobaosg-logo.svg" title="zaobaosg"></a>
            <span>新加坡最新新闻娱乐咨询平台</span>
          </div>
        </div>
      </div>
      <div class="row" id="zbsg-social">
        <div class="col-md-12">
          <h3>关注我们</h3>
          <div class="social-links">
            <a href="//www.facebook.com/zaobaosg" target="_blank" class="facebook"><i class="icon-facebook"></i></a>
            <a href="//twitter.com/zaobaosg" target="_blank" class="twitter"><i class="icon-twitter"></i></a>
            <a href="//www.instagram.com/zaobaosg" target="_blank" class="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="//www.youtube.com/channel/UCrbQxu0YkoVWu2dw5b1MzNg" target="_blank" class="youtube"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
            <a href="//t.me/zaobaosg" target="_blank" class="telegram"><i class="icon-telegram"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="copyright">© 新加坡报业控股版权所有（公司登记号：198402868E）</div>
      </div>
    </div>
  </div>
</footer>
  <!-- END Footer -->