

.party-leader-logo img {
    width: 30px;
}

.scrolling table {
    table-layout: inherit;
 *margin-left: -100px;/*ie7*/
}
.scrolling td, th {
    vertical-align: top;
	padding: 10px;
    min-width: 100px;
	height: 60px;
	text-align: center;
}
.scrolling th {
	position: absolute;
 	*position: relative; /*ie7*/
	left: 0;
	width: 213px;
}
.outer {
	position: relative
}
.inner {
	overflow-x: auto;
	overflow-y: visible;
	margin-left: 200px;
}

.party-result-wrapper {
    line-height: 2.5em;
}

span.icon-up {
	margin-left: 10px;
    background-image: url(../images/up.svg);
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: inline-block;
}

.icon-down {
	margin-left: 10px;
    background-image: url(../images/down.svg);
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: inline-block;
}


.icon-up::before {
    content: "\00a0 \00a0 \00a0 ";
}