@import "../styles.scss";

.parties-listing {

    
    .scrolling {
        table {
        table-layout: inherit;
        *margin-left: -100px;/*ie7*/
        td, th {
            vertical-align: top;
            padding: 10px;
            min-width: 100px;
            height: 60px;
            text-align: center;
            }
        }
        .outer {
            position: relative
        }
        .inner {
            overflow-x: auto;
            overflow-y: visible;
            margin-left: 200px;
        }
    
    }
    .party-group-wrapper {
        .party-content-wrap {
            text-align: left;
            .party-leader-logo 
                img {
                width: 30px;
            }
        }
        .party-result-wrapper {
            line-height: 2.5em;
            span.icon-up {
                margin-left: 10px;
                background-image: url("../assets/images/up.svg");
                vertical-align: middle;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                display: inline-block;

                &:before {
                    content: "\00a0 \00a0 \00a0 ";
                }
            }
            span.icon-down {
                margin-left: 10px;
                background-image: url('../assets/images/down.svg');
                vertical-align: middle;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                display: inline-block;

                &:before {
                    content: "\00a0 \00a0 \00a0 ";
                }
            }
            

        }
    }
}

.scrolling th {
	position: absolute;
 	*position: relative; /*ie7*/
	left: 0;
	width: 213px;
}

#chart-container {
    max-width: 800px;
    margin: 1em auto;
}

.result-breakdown {
	.indv-party {
		border: 1px solid #cecece;
		padding: 8px;
		border-radius: 10px;
		border: 1px solid #cecece;
		margin: 5px;
		height: auto;
		text-align: center;
	}
	.logo {
		display: inline-block;
		img {
			width: 35px;
			position: relative;
			top: -3px;
		}
	}
	.vote-count {
		display: inline;
		font-weight: 700;
		font-size: 14px;
		width: 15px;
		padding-left: 2px;
	}
}
.lastUpdate {
	font-size: 13px;
	color: #a9a7a7;
}


