/* You can add global styles to this file, and also import other style files */
// parties color //
$primary-color: #333;
$secondary-color: #f4f4f4;
$pap-color: #ff4351;
$wp-color: #1e96d8;


// breakpoint //    
$d_small: 420px;
$d_medium: 768px;
$d_normal: 992px;
$d_large: 1200px;
