<div class="container">
  <div class="row">
    <div class="seats-allocation col-12 text-center">
      <h3>投票份额</h3>
      <p>角逐议席<span class="">{{totalSeats}}</span></p>
    </div>
    <div class="result-breakdown row">
      <div class="col indv-party" *ngFor="let p of party">
        
          <span class="logo"><img src="{{p.gsx$partylogo.$t}}"><p class="vote-count">{{p.noOfSeats}}</p>
          </span>
          <!-- <span class="party-name">{{p.gsx$partycn.$t}}</span> -->
          
      </div>
      <!-- <div class="col-12">
        <p class="lastUpdate text-right">最后更新：{{timeUpdated}}</p>
      </div> -->
      
    </div>
  </div>
</div>

<!-- Chart START -->
<div class="container chart">
  <div id="chart-container"></div>
</div>

<!-- Party Listing START -->
<div class="container parties-listing">
  <div class="row">
      <div class="col-md-12 col-sm-10 col-xs-9">
        <div class="scrolling outer">
          <div class="inner">
            <table class="table table-hover">
              <tr>
                <th>政党</th>
                <td>角逐议席</td>
                <td>赢得议席</td>
                <td>票數</td>
                <td>得票率</td>
                <td>+/- from 2015</td>
              </tr>
              <tr class="party-group-wrapper" *ngFor="let p of party">
                <th><div class="party-content-wrap"><span class="party-leader-img"><img src="{{p.gsx$partyleaderimg.$t}}"></span>
                  <span class="party-leader-logo"><img src="{{p.gsx$partylogo.$t}}"></span>{{p.gsx$partycn['$t']}}</div></th>
                <td><div class="party-result-wrapper">{{totalSeats}}</div></td>
                <td><div class="party-result-wrapper">{{p.noOfSeats}}</div></td>
                <td><div class="party-result-wrapper">{{p.votes}}</div></td>
                <td><div class="party-result-wrapper"><span *ngIf="p.percentage">{{p.percentage | number:'1.2-2'}}%</span><span *ngIf="!p.percentage">0%</span></div></td>
                <td><div class="party-result-wrapper"><span *ngIf="p.difference">{{p.difference | number:'1.2-2'}}<span [ngClass]="{'icon-up' : p.difference > 0, 'icon-down': p.difference < 0}" ></span></span><span *ngIf="!p.difference">-</span></div></td>
              </tr>
            
            </table>
          </div>
        </div>
      </div>
  </div>