body{font-family:Helvetica, Arial, Hiragino Sans GB, WenQuanYi Micro Hei, Heiti SC, Microsoft YaHei, sans-serif;font-size:16px;overflow-x:hidden;color:#5d5c56;background:#fff;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}

*,*:after,*:before{-webkit-box-sizing:border-box;box-sizing:border-box;}
.clearfix:before,.clearfix:after{content:'';display:table;}
.clearfix:after{clear:both;}
.hidden{position:absolute;overflow:hidden;width:0;height:0;pointer-events:none;}
a{color:#84909c;transition:0.5s;text-decoration:none;outline:none;}
a:hover,a:active,a:focus{outline:none;text-decoration:none;}
em{font-style:normal;}
img{-webkit-transition:0.9s;-o-transition:0.9s;transition:0.9s;}
video{width:100%;max-width:100%;height:auto;}
legend{border:none;font-size:0.9em;color:#7f7f7f;}

.navbar-brand img{width:140px;}

.social-links{white-space:nowrap;display: flex;align-items: center;}
.social-links a{width:32px;height:32px;position:relative;border:1px solid rgba(0, 0, 0, .2);margin:0 1px;border-radius:50%;color: #333;}
.social-links i{position:absolute;top:50%;left:50%;margin-right:-50%;transform:translate(-50%,-50%);}
.social-links a{display:inline-block;background:rgba(255, 255, 255, 0.2);line-height:1;margin-right:4px;border-radius:50%;text-align:center;transition:0.3s;}

header .social-links a:hover{color:#fff;border-color:transparent;}
header .social-links a.facebook:hover{background:#3d5997;}
header .social-links a.twitter:hover{background:#56abed;}
header .social-links a.email:hover{background:#000;}

.view-desktop,.view-mobile{display:none;}

@media screen and (min-width:768px){
.view-desktop{display:block;}
}
@media screen and (max-width:767px){
.view-mobile{display:block;}
.navbar-brand img{width:36px;}
}

.nav.navbar-nav{flex-direction:row;}
.nav.navbar-nav li{margin:auto;padding:10px;}

@media screen and (min-width:200px) and (max-width:767px){
.view-mobile.social-links{float:right;padding:0;margin:0 0.5em 0 0;}
.view-mobile.social-links a{margin:0 0.2em;}
.social-links span{display:inline-block;margin-right:5px;color:#fff;font-size:0.8em;}
.social-links a:hover{color:#fff!important;border-color:transparent;}
}

#footer{clear:both;position:relative;padding:4em 0;color:#fff;font-size:0.9em;}
#footer .credits{font-size:13px;color:#888;}
#footer .footer-links a{color:#666;padding-left:15px;}
#footer .footer-links a:first-child{padding-left:0;}
#footer .footer-links a:hover{color:#84909c;}
#footer .copyright{margin:5em auto 2em auto;}


#contact .contact-about img{width:140px;margin:1em auto;display:block;}
#contact .contact-about p{font-size:14px;line-height:24px;color:#f2f2f2;}
#contact .share{margin-bottom:2em;}
#contact .share .social-links a{color:#fff;border-color:transparent;}
#contact .social-links a.facebook{background:#3d5997;}
#contact .social-links a.twitter{background:#56abed;}
#contact .social-links a.instagram{background:#000;}
#contact .social-links a.youtube{background:#e30000;}
#contact .social-links a.whatsapp{background:#29d266;}
#contact .social-links a.telegram{background-image:url('../../static/imgs/telegram-logo.svg');background-position:0 0;background-size:100% auto;background-repeat:no-repeat;}


#contact .info{color:#fff;font-size:14px;border-bottom:1px solid #eee;padding-bottom:1em;margin-bottom:2em;}
#credits dl{margin:0.5em auto;color: #fff;}
#credits dt,#credits dd{display: inline-block;margin-inline-start: 0;}
#credits dt {
    color: #fff;
}
#credits dt:after{padding: 0 0.5em;
    color: #f41089;
    content: '/';
    position: relative;
    font-weight: bold;}
#credits .dl-list dd{margin-right:2em;}
#credits aside{margin:2em auto;}
#credits a, #credits a:visited {
    color: #fff;
}
#credits{margin-bottom:1em;}
#zbsg-interactive{margin-bottom:3em;}
#zbsg-social{margin-top:1em;}
#zbsg-social h3{font-size:1.2em;}
#zbsg-social .social-links a{width:38px;height:38px;font-size:18px;border:none;color:#fff;}

.bottomMenu{position:fixed;bottom:0;width:100%;z-index:1;transition:all 1s;}
.hide{opacity:0;left:-100%;}
.show{opacity:1;left:0;}


@media (max-width:767px){
#navbar-bottom .navbar-nav li{padding:0;}
#navbar-bottom .navbar-nav a{padding:0.5em 0.2em;display:block;width:100%;color:#fff;background:rgba(0,0,0,0.4);}
}












