  <div class="header mdl-layout__header mdl-layout__header--waterfall">
    <div class="mdl-layout__header-row brand-bar">
        <div class="mdl-cell mdl-cell--4-col mdl-cell--3-col-phone zaobaosg-logo">
            <a href="//www.zaobao.sg" target="_blank" class="zaobaosg-logo"><img src="../lib/imgs/zaobaosg-logo.svg" title="zaobao.sg" class="view-desktop"><img src="../lib/imgs/zaobaosg-icon.svg" title="zaobao.sg" class="view-mobile"></a>
        </div>
        <div class="mdl-cell mdl-cell--4-col mdl-typography--text-center ge-logo">
            <span class="title mdl-layout-title"><a href="index.php"><img class="logo-image" src="assets/imgs/sg-ge-logo.svg"></a></span>
        </div>
        <div class="mdl-cell mdl-cell--4-col mdl-typography--text-right social-media">
          <div class="social-links">
            <a href="//www.facebook.com/sharer/sharer.php?u=http%3A//interactive.zaobao.com/2020/PROJECT-NAME/" target="_blank" class="facebook"><i class="mdi mdi-facebook icon-facebook"></i></a>
            <a href="//twitter.com/intent/tweet?text=2020年 写给一个新年代%20-%20via%20%40zaobaoSG%20-%20http%3A//interactive.zaobao.com/2020/PROJECT-NAME/" target="_blank" class="twitter"><i class="mdi mdi-twitter icon-twitter"></i></a>
            <a href="mailto:?subject=[分享]PROJECT-TITLE&body=PROJECT-DESC %0D%0Ahttp://interactive.zaobao.com/2020/PROJECT-NAME/" target="_blank" class="email"><i class="mdi mdi-email icon-mail"></i></a>
          </div>
        </div>
    </div>
    <div class="mdl-layout__header-row menu-bar">
      <div class="navigation-container">
        <nav class="navigation mdl-navigation">
          <a id="nav-electoral-boundaries" class="mdl-navigation__link mdl-typography--text-uppercase" href="sg-electoral-boundaries.php">选区划分</a>
          <a id="nav-party" class="mdl-navigation__link mdl-typography--text-uppercase" href="party.php">政党对垒</a>
          <a id="nav-mp-profile" class="mdl-navigation__link mdl-typography--text-uppercase" href="mp-profile.php">候选人资料</a>
          <a class="mdl-navigation__link mdl-typography--text-uppercase" href="//www.zaobao.com/special/report/singapore/singapore-13th-ge" target="_blank">选战新闻</a>
          <a id="nav-media" class="mdl-navigation__link mdl-typography--text-uppercase" href="media.php">选战视频/直播 <i class="mdi mdi-play-circle"></i></a>
          <a id="nav-polling-guide" class="mdl-navigation__link mdl-typography--text-uppercase" href="polling-guide.php">大选指南</a>
        </nav>
      </div>

      <span class="mobile-title mdl-layout-title"><a href="index.php"><img class="logo-image" src="assets/imgs/sg-ge-logo.svg"></a></span>
      <div class="more-menu">
        <button class="more-button mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" id="more-button">
          <i class="material-icons">more_vert</i>
        </button>
        <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="more-button">
          
          <li class="mdl-menu__item"><a href="//VoteQ.gowhere.gov.sg" target="_blank">VoteQ.gowhere.gov.sg</a></li>
          <li class="mdl-menu__item"><a href="//www.eld.gov.sg/" target="_blank">Elections Department Singapore (ELD)</a></li>
          <li class="mdl-menu__item"><a href="//www.parliament.gov.sg/mps/find-my-mp" target="_blank">Find My MP</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="drawer mdl-layout__drawer" style="position:absolute;right:0;">
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" id="nav-electoral-boundaries" href="sg-electoral-boundaries.php">选区划分</a>
      <a class="mdl-navigation__link" id="nav-party"  href="party.php">政党对垒</a>
      <a class="mdl-navigation__link" id="nav-mp-profile" href="mp-profile.php">候选人资料</a>
      <a class="mdl-navigation__link" href="//www.zaobao.com/special/report/singapore/singapore-13th-ge">选战新闻</a>
      <a class="mdl-navigation__link" id="nav-media" href="media.php">选战视频/直播</a>
      <a class="mdl-navigation__link" id="nav-polling-guide" href="polling-guide.php">大选指南</a>
      <div class="drawer-separator"></div>
      <a class="mdl-navigation__link" href="//www.eld.gov.sg/" target="_blank">Elections Department Singapore (ELD)</a>
      <a class="mdl-navigation__link" href="//www.parliament.gov.sg/mps/find-my-mp" target="_blank">Find My MPs</a>
    </nav>
  </div>