<!--#include file="news-feed.html" -->

<footer id="footer" class="mdl-typography--text-center">
  <div class="container text-center">
    <div class="row" id="credits">
      <div class="mdl-cell--12 info">
        <dl>
          <dt>发布</dt><dd>2020-02-13</dd>
        </dl>
        <dl class="dl-list">
          <dt>内容</dt><dd><a href="//www.zaobao.com/byline/huang-wei-man" target="_blank">黄伟曼</a>, <a href="//www.zaobao.com/byline/huang-xiao-fang" target="_blank">黄小芳</a></dd>
          <dt>设计 + 创建</dt><dd><a href="//www.zaobao.com/interactive-designer/hong-hui-zhen" target="_blank">洪惠贞</a>, <a href="//www.zaobao.com/frontend-developer/liu-pei-wen" target="_blank">刘姵妏</a><!--, <a href="//www.zaobao.com/interactive-designer/lin-ling-li" target="_blank">林玲莉</a--></dd>
        </dl>
      </div>
    </div>
    <div id="contact">
      <div class="row" id="zbsg-social">
        <div class="mdl-cell--12">
          <h3>关注我们</h3>
          <div class="social-links">
            <a href="//www.facebook.com/zaobaosg" target="_blank" class="facebook"><i class="mdi mdi-facebook"></i></a>
            <a href="//twitter.com/zaobaosg" target="_blank" class="twitter"><i class="mdi mdi-twitter"></i></a>
            <a href="//www.instagram.com/zaobaosg" target="_blank" class="instagram"><i class="mdi mdi-instagram"></i></a>
            <a href="//www.youtube.com/zaobaodotsg" target="_blank" class="youtube"><i class="mdi mdi-youtube"></i></a>
            <a href="//t.me/zaobaosg" target="_blank" class="telegram"><i class="mdi mdi-telegram"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="copyright">&copy; 新加坡报业控股版权所有（公司登记号：198402868E）</div>
      </div>
    </div>
  </div>
</footer>

<div class="follow">
  <em><i class="mdi mdi-arrow-right-circle"></i><a href="//www.zaobao.com/special/report/singapore/singapore-13th-ge" target="_blank"><span>关注选情报道</span></a></em>
  <em><i class="mdi mdi-email"></i><a href="//www.zaobao.com/newsletter/signup" target="_blank"><span>Stay Informed</span></a></em>
</div>