<meta http-equiv="refresh" content="1000">
<meta property="og:type" content="website"/>
<meta property="og:site_name" content="HEADLINE TITLE" />
<meta property="og:title" content="HEADLINE TITLE" />
<meta property="og:url" content="//interactive.zaobao.com/YYYY/FOLDER-NAME/" />
<meta property="og:description" content="SOMETHING SHORT AND BRIEF ENOUGH TO DESCRIBE THE TOPIC" />
<meta property="og:image" content="//interactive.zaobao.com/YYYY/FOLDER-NAME/IMGS/SOCIAL-SHARE-IMG" />
<meta property="og:image:type" content="image/jpeg" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />

<meta name="twitter:card" content="summary" property="twitter:card" />
<meta name="twitter:site" content="@zaobaosg" />
<meta name="twitter:title" content="HEADLINE TITLE" />
<meta name="twitter:description" content="SOMETHING SHORT AND BRIEF ENOUGH TO DESCRIBE THE TOPIC" />
<meta name="twitter:url" content="../YYYY/FOLDER-NAME/" />
<meta name="twitter:image" content="../YYYY/FOLDER-NAME/IMGS/SOCIAL-SHARE-IMG" />

<link rel="shortcut icon" href="../lib/imgs/zaobaosg/favicon.ico" type="image/x-icon">
<link rel="icon" href="../lib/imgs/zaobaosg/favicon.ico" type="image/x-icon">
<meta name="apple-itunes-app" content="app-id=654946831">
<link rel="apple-touch-icon" href="../lib/imgs/zaobaosg/apple-icon-144x144.png" />
<link rel="apple-touch-icon" sizes="57x57" href="../lib/imgs/zaobaosg/apple-icon-57x57.png" />
<link rel="apple-touch-icon" sizes="72x72" href="../lib/imgs/zaobaosg/apple-icon-72x72.png" />
<link rel="apple-touch-icon" sizes="114x114" href="../lib/imgs/zaobaosg/apple-icon-114x114.png" />
<link rel="apple-touch-icon" sizes="144x144" href="../lib/imgs/zaobaosg/apple-icon-144x144.png" />
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="../lib/imgs/zaobaosg/apple-icon-57x57-precomposed.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../lib/imgs/zaobaosg/apple-icon-72x72-precomposed.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../lib/imgs/zaobaosg/apple-icon-114x114-precomposed.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="../lib/imgs/zaobaosg/apple-icon-144x144-precomposed.png" />

<link rel="stylesheet" href="//fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap">
<link rel="stylesheet" href="//fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;400;500;700;900&display=swap">
<link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="../lib/css/material-design/material-v1.3.0.min.css">
<link rel="stylesheet" href="../lib/css/material-design/materialdesignicons-v5.0.45.min.css">
<link rel="stylesheet" href="assets/css/normalize-v5.0.0.min.css">
<link rel='stylesheet' href="assets/css/swiper-v3.3.1.min.css">
<link rel="stylesheet" href="assets/css/styles.css?20200617">
<link rel="stylesheet" href="assets/css/styles-card.css?20200617">
