<div id="news-feed" ng-app="App.controllers" ng-controller="MainCtrl">
  <h3 class="mdl-typography--text-center">最新报道</h3>
  <div class="card-container mdl-grid">
    
    <div class="mdl-cell mdl-cell--3-col mdl-cell--12-col-phone mdl-card" ng-repeat="n in newsFeeds">
      <div class="mdl-card__media"><a href="{{n['_source']['articleurl']}}" target="_blank"><img src="{{n['_source']['photogallery'][0]['thumbnail']}}" ng-if="n['_source']['photogallery']"><img src="//www.zaobao.com.sg/sites/all/themes/zb2019/dist/images/default-img.png" ng-if="!n['_source']['photogallery']"></a></div>
      <div class="mdl-card__title"><h4 class="mdl-card__title-text"><a href="{{n['_source']['articleurl']}}" target="_blank">{{n['_source']['headline_cn']}}</a></h4></div>
      <div class="mdl-card__actions">
       
         <a href="https://www.zaobao.com.sg/special/report/singapore/singapore-13th-ge/{{n._source.sections[n._source.sections.length-1].section[n._source.sections[n._source.sections.length-1].section.length-1].name_en}}" target="_blank" class="mdl-button mdl-js-button feature-sub-header">{{n._source.sections[n._source.sections.length-1].section[n._source.sections[n._source.sections.length-1].section.length-1].name_cn}}<i class="mdi mdi-chevron-right"></i></a>
      </div>
    </div>
    
  
  </div>
</div>