<script src="../lib/js/jquery/v3.3.1/jquery.min.js"></script>
<script src="../lib/js/angular/v1.4.9/angular.min.js"></script>
<script src="../lib/js/angular/angular-sanitize/v1.5.8/angular-sanitize.min.js"></script>
<script src="../lib/js/progressbar-prognroll.js"></script>
<script src="assets/js/swiper.jquery-v3.3.1.min.js"></script>
<script src="../lib/js/material-design/material-v1.3.0.min.js"></script>
<script src="assets/js/script.js"></script>
<script src="assets/js/controllers.js"></script>