<!-- Branding -->
<header>
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <a class="navbar-brand" href="//zaobao.com/" target="_blank"><img
            src="//interactive.zaobao.com/lib/imgs/zaobaosg-logo.svg" title="zaobao.sg" class="view-desktop"><img
            src="//interactive.zaobao.com/lib/imgs/zaobaosg-icon.svg" title="zaobao.sg" class="view-mobile"></a>
      </div>
  
  
  
      <div class="social-links"><span class="view-mobile">分享</span>
        <a href="//www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Finteractive.zaobao.com%2FYYYY%2FFOLDER-NAME%2F"
          target="_blank" class="facebook"><i class="icon-facebook"></i></a><a
          href="//twitter.com/intent/tweet?text=SOMETHING SHORT AND BRIEF ENOUGH TO DESCRIBE THE TOPIC%20-%20via%20%40zaobaoSG%20-%20http%3A%2F%2Finteractive.zaobao.com%2FYYYY%2FFOLDER-NAME%2F"
          target="_blank" class="twitter"><i class="icon-twitter"></i></a><a
          href="mailto:?subject=[分享] HEADLINE TITLE&body=嗨，别错过zaobao.sg 的有趣互动内容%0D%0Ahttp://interactive.zaobao.com/YYYY/FOLDER-NAME"
          target="_blank" class="email"><i class="fa fa-envelope-o"></i></a>
      </div>
    </nav>
  </header>
  <!-- END Branding -->