@font-face {
    font-family: 'Roboto';
    src: url('Roboto-ThinItalic-webfont.eot');
    src: url('Roboto-ThinItalic-webfont.eot?#iefix') format('embedded-opentype'), url('Roboto-ThinItalic-webfont.woff') format('woff'), url('Roboto-ThinItalic-webfont.ttf') format('truetype'), url('Roboto-ThinItalic-webfont.svg#RobotoThinItalic') format('svg');
    (under the Apache Software License). font-weight: 200;
    font-style: italic;
}

:root {
    --left-bg-color: rgba(0, 0, 0, 0.5);
    --left-button-hover-color: rgba(0, 0, 0, 0.3);
    --right-bg-color: rgba(0, 0, 0, 0.5);
    --right-button-hover-color: rgba(0, 0, 0, 0.3);
    --hover-width: 75%;
    --other-width: 25%;
    --speed: 1000ms;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f2f2f2;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    background: #444959;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255, 255, 255, 0.4);
}

footer {
    border-top: 1px solid #333;
    padding-bottom: 1em !important;
    /*background: #3A4E8C;*/
    background: #444959;
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
}

p {
    line-height: 1.8;
}

h4 {
    margin-bottom: 0.4em;
}

select {

    /*border-radius: 0.2em;*/
    /*font-weight: 700;*/
    white-space: normal;
    /*box-shadow: 0 0rem 0.2rem 0 rgba(0, 0, 0, 0.14);*/
    width: 100%;
    /*height: 2em;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    /*border: 2px solid #fff;*/
    border: none;
    color: #000;
    /*background: url(../static/imgs/select.svg);
    background-position: right 0px;
    background-repeat: no-repeat;
    background-size: contain;*/
    /*background-color: inherit;*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


select:focus,
button:focus {
    outline: none;
}

svg {
    -moz-user-select: none;
    outline: none;
    border: none;
}



.text-center {
    text-align: center !important;
}

.text-light {
    font-style: italic;
    color: #ccc;
}

.text-bold {
    font-weight: bold;
}

.foot-note {
    font-size: 0.85em;
    color: #999;
}

#mousetip {
    position: fixed;
    z-index: 600;
    transition: all 0.2s;
    background: rgba(255, 255, 255, 0.9);
    padding: 0.4em 1em;
    border-radius: 0.4em;
    box-shadow: 0 0rem 0.2rem 0 rgba(0, 0, 0, 0.14);
    white-space: nowrap;
}
#mousetip p{
    margin:0;
}
.hide {
    display: none !important;
}


@media screen and (max-width: 750px) {}