.main-map {
    width: 100%;
    height: 100%;
    position: relative;
    padding-top: 6rem;
}

.new-map,
.old-map {
    width: 100vw;
    height: calc(100vh - 6rem);
}

.new-map {
    z-index: 0;
}

.old-map {
    position: absolute;
    top: 6rem;
    left: 0;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.5s;
}

.old-map.show {
    opacity: 1;
    z-index: 1;
}

.map-legend {
    display: flex;
    padding: 0 3rem;
    position: absolute;
    flex-direction: column;
    left: 0;
    top: 1.5rem;
}

.keys {
    display: flex;
    width: 100%;
}

.key {
    margin-right: 1rem;
}

.key span {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
}

.key span.old {
    background: transparent;
    border: 1px dashed #000;
}

.note {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.note span {
    height: 1.5rem;
}

.note img {
    height: 1.5rem;
    width: auto;
}

/*mousetip*/
.name {
    font-size: 1rem;
}

.type,
.elector {
    font-size: 0.8rem;
    font-weight: bold;

}

/*search map*/

.map-container {
    width: 100%;
    position: relative;
    height: 70vh;
}

#onemap {
    width: 100%;
    height: 100%;
    z-index: 0;
}

#map-result {
    transform: translateY(30%);
    z-index: 1;
    width: 40%;
    position: absolute;
    left: -100%;
    top: 4px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 0.4em;
    box-shadow: 0 0 0.3em 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 0.3em 0 rgba(0, 0, 0, 0.2);
    padding: 2em;
    max-height: calc(100% - 8px);
    overflow-y: overlay;
    transition: all 0.2s;
}

#map-result h5 {
    font-size: 1.5rem;
    margin: 0;
    font-weight: normal;
}

#map-result p {
    margin: 0;
}

#map-result .intro {
    border-top: 1px solid #bfbebe;
    margin-top: 0.4em;
    padding-top: 1em;
}

#map-result .yours {
    color: #999;
    letter-spacing: 4px;
}

#map-result.show {
    left: 4px;
}

@media screen and (max-width: 750px) {

    .new-map,
    .old-map {
        height: 50vh;
    }

    .map-legend {
        font-size: 0.7rem;
        width: 100%;
        padding: 0 0.5rem;
        margin-top: 1rem;
    }

    .key {
        margin-right: 0.2rem;
    }

    .key span {
        width: 0.6rem;
        margin-right: 0.2rem;
    }

    .note {
        justify-content: center;
    }

    .map-container {
        height: auto;
        padding-bottom: 1em;
    }

    #onemap {
        height: 40vh;
    }

    #map-result {
        width: calc(100% - 8px);
        margin-top: -40px;
        background: #fff;
        transform: translateY(0);
        position: relative;
        padding: 1em 2em;
    }
}