html,
body {
    width: 100%;
    margin: 0 auto;
}

body {
    /*background: #465EA6;*/
    /*color: #fff;*/
    background: #fbfbfa;
    color: #000;
}

header {
    position: absolute;
    z-index: 1;
    width: 100%;
}

section {
    display: flex;
    width: 100%;
    overflow: none;
}



.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    position: relative;

}



.sticky {
    position: sticky !important;
    position: -webkit-sticky !important;
    top: 0;
}

.scroll-pages {
    z-index: 1;
    width: 100%;
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scroll-page {
    min-height: 100vh;
    width: 100%;
    padding: 1em;
}


.scroll-page .page {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 0.4em;
    box-shadow: 0 0 0.3em 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 0.3em 0 rgba(0, 0, 0, 0.2);
    padding: 2em;
    /*color: #fff;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*align-items: center;*/
}

.scroll-page .page h3 {
    margin: 0;
}

.scroll-page .page .bigger {
    text-align: center;
    font-size: 1.6em;
}


.title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2em 1.2em 1em;
    width: 60%;
    z-index: 1;
}

.title h1 {

    font-size: 3.5em;

}


.title p {
    width: 100%;
}


.section {
    /*height: 100vh;*/
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /*background: #fbfbfa;*/
    overflow: hidden;
    position: relative;
    /*border-bottom: 1px dotted #ccc;*/
}

.section-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    position: relative;
    height: auto;
    overflow: visible;
    padding-bottom: 3rem;
}
.main .title h2{
    font-size: 2.5em;
    margin-bottom: 0.5rem;

}
.main .title:after{
    content:"";
    height: 4px;
    width:10em;
    background: red;
}

.start {
    /*min-height: 100vh;*/
    /*height: 100%;*/
    width: 100%;
    padding-top: 3em;
    padding-bottom: 6rem;
    /*margin-bottom: 6rem;*/
    background-color: #e6f2f7;

}

.search {
    margin-top: -6rem;
}

.logo {
    width: 100%;
    height: auto;
}

.start .title p {
    /*background: rgba(40, 171, 226, 0.1);*/
    padding: 1rem 2rem;
    border-radius: 2rem;
}

/*.start .title{
    background-image: url(../static/imgs/bg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: inherit;
}*/

.bounce {
    animation: bounce-hint .8s ease 1s infinite alternate;
}

@keyframes bounce-hint {
    0% {
        transform: translate(0, 0) scale(1);
    }

    100% {
        transform: translate(0, 0.3em) scale(1.02);
    }
}


#zone-option {
    align-self: center;
    padding: 1em 1.8rem 1em 1em;
    width: 18rem;
    max-width: 100%;
    font-size: 0.8rem;
    background: url(../static/imgs/arrow.svg);
    background-position: 95% center;
    background-repeat: no-repeat;
    background-size: 1.3rem;
    background-color: #e6f2f7;
    border: 1px solid #c9e4ef;
    color: #000;
    margin: 1rem 0;
}

/*search*/
.search-button {
    border-radius: 4rem;
    position: relative;
    white-space: nowrap;
    font-size: 0.8em;
    padding: 0.8em 1rem;
    background: #fff;
    max-width: 95%;
    width: 30rem;
    margin-bottom: 2rem;
}

.search-input {
    display: flex;
}

.search-input span {
    font-size: 1.2rem;
    color: #666;
}

.search-button input {
    padding: 0 0.5rem;
    font-size: 0.8rem;
    width: calc(100% - 1rem);
    border: none;
    background: inherit;
    border-bottom: 1px solid #eee;
    transition: border 0.2s;
}
.search-button input:focus {
    outline: none;
    border-bottom: 1px solid #ef2e4f;
}
@media screen and (min-width: 1300px) {
    .start {
        background-position: center -18vw;
    }


}

@media screen and (min-width: 2500px) {
    .start {
        background-position: center -25vw;
    }

    .start .title {
        width: 40%;
    }

}

@media screen and (max-width: 1024px) {
    .title {
        width: 80%;
    }



}

@media screen and (max-width: 750px) {

    .title {
        width: 100%;
        padding: 1em 1.2em;
    }

    .title h1 {

        font-size: 2.3em;
    }

    .title h2 {
        font-size: 1.2em;
        margin-bottom: 0;
    }

    .scroll-page {
        width: 100%;
        font-size: 0.8rem;
    }




}

@media screen and (max-width: 485px) {}