@charset "UTF-8";

html,body{width:100%;margin:0 auto;padding:0;text-rendering:optimizeLegibility;-webkit-font-feature-settings:'kern';-moz-font-feature-settings:'kern';font-feature-settings:'kern';-webkit-font-kerning:normal;-moz-font-kerning:normal;font-kerning:normal;-webkit-font-variant-ligatures:common-ligatures;-moz-font-variant-ligatures:common-ligatures;font-variant-ligatures:common-ligatures;scroll-behavior:smooth;}
body{font-size:16px;color:#333;font-weight:400;background:#f8f9ff;font-family:Roboto-Regular,'Noto Sans SC',Hiragino Sans GB,WenQuanYi Micro Hei,Heiti SC,Microsoft YaHei,sans-serif;-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;font-smoothing:antialiased;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;overflow-x:hidden;}

*,*:after,*:before{-webkit-box-sizing:border-box;box-sizing:border-box;}
.clearfix:before,.clearfix:after{content:'';display:table;}
.clearfix:after{clear:both;}
.hidden{position:absolute;overflow:hidden;width:0;height:0;pointer-events:none;}
a{color:#84909c;transition:0.5s;text-decoration:none;outline:none;-ms-transition:0.3s;-moz-transition:0.3s;-o-transition:0.3s;-webkit-transition:0.3s;transition:0.3s;}
a:hover,a:active,a:focus{outline:none;text-decoration:none;}
a img{border:0;}
em{font-style:normal;}
img,figure,figcaption{-webkit-transition:0.9s;-o-transition:0.9s;transition:0.9s;}
video{width:100%;max-width:100%;height:auto;}
legend{border:none;font-size:0.9em;color:#7f7f7f;}
button:focus,.mdl-layout__drawer-button:focus{outline:0;}

a,a:after,a:before,a.stroke{transition:all .5s;}
p a:hover,footer a:hover,a.stroke:hover{color:#555;}
p a,footer a,a.stroke{position:relative;}
p a:after,footer a:after,a.stroke:after,a.stroke:before{position:absolute;bottom:-0.1em;left:0;right:0;margin:auto;width:0;content:'.';color:transparent;background:rgba(0,0,0,0.5);height:1px;}
p a:hover:after,footer a:hover:after,a.stroke:hover:after{width:100%;}
footer a.no-stroke:hover:after,footer a.no-stroke:after{background:transparent;height:0;}

p{font-size:16px;}
h1,h2,h3,h4,h5,blockquote,table,form,input,select,option{font-family:Roboto-Regular,'Noto Sans SC',Hiragino Sans GB,WenQuanYi Micro Hei,Heiti SC,Microsoft YaHei,sans-serif;}
.img-responsive{width:100%;}
.en{font-family:Roboto;}
.sticker{width:100%;z-index:100000;position:static;}
.sticker.sticky{position:fixed;top:0;left:0;}
#sticky{background:rgba(255,255,255,0.8);padding:0.2em 0;margin:1em auto;position:-webkit-sticky;position:sticky;top:0;z-index:10000000;}

.align-center{text-align:center;}

::-moz-selection{background-color:#d70107;color:#fff;}
::selection{background-color:#d70107;color:#fff;}
body ::-webkit-scrollbar{width:6px;height:6px;}
body ::-webkit-scrollbar-track{background-color:transparent;-webkit-border-radius:10px;border-radius:10px;}
body ::-webkit-scrollbar-thumb{-webkit-border-radius:10px;border-radius:10px;background:#828282;}
body ::-webkit-scrollbar-thumb{background:#fbe8e8;}

.container{width:80%;margin:1em auto;}
.view-desktop,.view-mobile{display:none!important;}

@media screen and (min-width:801px){
.view-desktop{display:block!important;}
}
@media screen and (max-width:800px){
.container{width:100%;padding:1em;}
.view-mobile{display:block!important;}
}

.zaobaosg-logo img{width:120px;}
.social-links{white-space:nowrap;}
.social-links a{color:#c6cfd4;position:relative;margin:0 1em;border-radius:50%;-moz-border-radius:50%;-khtml-border-radius:50%;-webkit-border-radius:50%;display:inline-block;background:transparent;line-height:1;border-radius:50%;text-align:center;transition:0.3s;}
.social-links i{font-size:1.2em;position:absolute;top:50%;left:50%;margin-right:-50%;transform:translate(-50%,-50%);justify-content:center;align-items:center;}

.header .social-links span{font-size:0.8em;vertical-align:top;margin-top:1em;}
.header .social-links a.facebook:hover{color:#3d5997;}
.header .social-links a.twitter:hover{color:#56abed;}
.header .social-links a.email:hover{color:#000;}

.mdl-layout{overflow:hidden;}
.mdl-layout__container{position:relative;z-index:1000;height:auto;}
.mdl-layout__content{overflow-y:hidden;}


.mdl-textfield--expandable{width:auto;}
.fab{position:absolute;right:20%;bottom:-26px;z-index:3;background:#64ffda!important;color:black!important;}
.mobile-title{display:none!important;}

.logo-image{width:220px;padding:0.2em 0;}


.mdl-layout__header{box-shadow:0 12px 12px 0 rgba(0, 0, 0, 0.02)!important;}

.header{overflow:visible;background-color:white;}
.header .mdl-layout-title{padding:0;}
.header .material-icons{color:#767777!important;}
.mdl-layout__header-row{height:auto;}
.mdl-layout__header-row .mdl-navigation{margin:auto;}
.brand-bar{padding-bottom:0.4em;border-bottom:1px solid #ffe2e3;}
.menu-bar{margin:auto;padding:0;}
#page-electoral-boundaries #nav-electoral-boundaries,#page-party #nav-party,#page-mp-profile #nav-mp-profile,#page-media #nav-media,#page-polling-guide #nav-polling-guide,.navigation-container .current,.navigation-container000 i{color:#fff;font-weight:700;background:#053193;}
#page-electoral-boundaries .header #nav-electoral-boundaries,#page-party .header #nav-party,#page-mp-profile .header #nav-mp-profile,#page-media .header #nav-media,#page-polling-guide .header #nav-polling-guide,.navigation-container .current,.navigation-container000 i{border-radius:4px;-moz-border-radius:4px;-khtml-border-radius:4px;-webkit-border-radius:4px;}
.navigation-container{direction:rtl;-webkit-order:1;-ms-flex-order:1;order:1;transition:opacity 0.2s cubic-bezier(0.4,0,0.2,1),width 0.2s cubic-bezier(0.4,0,0.2,1);}
.navigation{direction:ltr;-webkit-justify-content:flex-end;-ms-flex-pack:end;justify-content:flex-end;}

.header .mdl-layout__drawer-button{display:none;background:transparent;color:#767777;}
.header .mdl-navigation__link{color:#676978;font-weight:400;font-size:1em;transform:skew(-8deg) rotate(-8deg) translateZ(0);-webkit-transform:skew(-8deg) rotate(-8deg) translateZ(0);-moz-transform:skew(-8deg) rotate(-8deg) translateZ(0);-ms-transform:skew(-8deg) rotate(-8deg) translateZ(0);}


@media (max-width:768px){
.row{margin-left:0;margin-right:0;}
.mobile-title{top:0.2em!important;}
.logo-image{width:140px;padding:0;}
.zaobaosg-logo img{width:40px;}
.mdl-layout__header-row{padding:0 0 0 1em;}
.navigation-container{width:90%!important;}
.header .mdl-layout__drawer-button{display:block;position:absolute;left:84%;}
.drawer.mdl-layout__drawer.is-visible{left:auto;right:0;}
}

.search-box .mdl-textfield__input{color:rgba(0,0,0,0.87);}
.header .mdl-menu__container{position:absolute;z-index:50;margin:0!important;}
.search-box.is-focused + .navigation-container{opacity:0;width:100px;}
.navigation .mdl-navigation__link{display:inline-block;padding:0.1em 1em 0 1em;margin:0 0.4em;line-height:2em;white-space:nowrap;background-color:transparent;}
.navigation .mdl-navigation__link:hover{color:#d70107;}
.search-box{-webkit-order:2;-ms-flex-order:2;order:2;margin-left:16px;margin-right:16px;}
.more-button{-webkit-order:3;-ms-flex-order:3;order:3;right:2em;}
.more-menu{display:inline-block;position:absolute;right:2em;}
.mdl-menu__outline{box-shadow:0 0 5px 0 rgba(0, 0, 0, 0.05);}
.mdl-menu__item:active{background-color:rgba(238,238,238,0.3);}

.drawer{border-right:none;position:fixed;}
.drawer-separator{height:1px;background-color:#dcdcdc;margin:8px 0;}
.drawer .mdl-navigation__link.mdl-navigation__link{font-size:14px;color:#757575;}
.drawer .mdl-navigation__link.mdl-navigation__link:hover{color:#fff;background:#d70107;}
.drawer span.mdl-navigation__link.mdl-navigation__link{color:#053193;}
.drawer .mdl-layout-title{position:relative;background:#6ab344;height:160px;}
.drawer .logo-image{position:absolute;bottom:16px;}

.content-section{width:80%;margin:1em auto;position:relative;}
.full-width{width:100%!important;}
.logo-font{font-family:'Roboto','Helvetica','Arial',sans-serif;line-height:1;color:#767777;font-weight:500;}
.slogan{font-size:60px;padding-top:160px;}
.sub-slogan{font-size:21px;padding-top:24px;}
.create-character{font-size:21px;padding-top:400px;}
.create-character a{text-decoration:none;color:#767777;font-weight:300;}

.screen-section{position:relative;padding-top:60px;padding-bottom:80px;}
.screens{text-align:right;width:100%;white-space:nowrap;overflow-x:auto;}
.screen{text-align:center;}
.screen .link{margin-top:16px;display:block;z-index:2;}
.image-link{text-decoration:none;}
.wear{display:inline-block;width:160px;margin-right:32px;}
.wear .screen-image{width:40%;z-index:1;}

.phone{display:inline-block;width:64px;margin-right:48px;}
.phone .screen-image{width:100%;z-index:1;}

.tablet{display:inline-block;width:110px;margin-right:64px;}
.tablet .screen-image{width:100%;z-index:1;}
.tablet .link{display:block;z-index:2;}

.tv{display:inline-block;width:300px;margin-right:80px;}
.tv .screen-image{width:100%;z-index:1;}

.auto{display:inline-block;width:300px;overflow:hidden;}
.auto .screen-image{display:block;height:300px;z-index:1;}

.wear-section{position:relative;background-size:cover;height:800px;}
.wear-band{position:absolute;bottom:0;width:100%;text-align:center;background-color:#37474f;}
.wear-band-text{max-width:800px;margin-left:25%;padding:24px;text-align:left;color:white;}
.wear-band-text p{padding-top:8px;}

.link{text-decoration:none;color:#053193!important;}
.link:hover{color:#7cb342!important;}
.link .material-icons{position:relative;top:-1px;vertical-align:middle;}

.alt-link{text-decoration:none;color:#64ffda!important;font-size:16px;}
.alt-link:hover{color:#00bfa5!important;}
.alt-link .material-icons{position:relative;top:6px;}

.customized-section{text-align:center;}
.customized-section-text{max-width:500px;margin-left:auto;margin-right:auto;padding:80px 16px 0 16px;}
.customized-section-text p{padding-top:16px;}

.customized-section-image{background-size:cover;height:400px;}
.more-section{padding:80px 0;max-width:1044px;margin-left:auto;margin-right:auto;}
.more-section .section-title{margin-left:12px;padding-bottom:24px;}

.card-container{}
.card-container .mdl-card__media{overflow:hidden;background:transparent;}
.card-container .mdl-card__media img{width:100%;}
.card-container .mdl-card__title{background:transparent;height:auto;}
.card-container .mdl-card__title-text{color:black;height:auto;}
.card-container .mdl-card__supporting-text{height:auto;color:black;padding-bottom:3em;}
.card-container .mdl-card__actions{padding:0;}
.card-container .mdl-card__actions a{border-top:none;}

.footer{background-color:#fafafa;position:relative;}
.footer a:hover{color:#053193;}

.footer .mdl-mega-footer--top-section::after{border-bottom:none;}
.footer .mdl-mega-footer--middle-section::after{border-bottom:none;}
.footer .mdl-mega-footer--bottom-section{position:relative;}
.footer .mdl-mega-footer--bottom-section a{margin-right:2em;}
.footer .mdl-mega-footer--right-section a .material-icons{position:relative;top:6px;}

.link-menu:hover{cursor:pointer;}


@media (min-width:1280px){
.content-section{width:60%;}
}

@media (max-width:900px){
.navigation-container{display:none;}
.title{display:none!important;}
.mobile-title{display:block!important;position:absolute;left:calc(50% - 70px);top:12px;transition:opacity 0.2s cubic-bezier(0.4,0,0.2,1);}
.android.search-box.is-focused ~ .mobile-title,.search-box.is-focused + .navigation-container + .mobile-title{opacity:0;}
.more-button{display:none;}
.search-box.is-focused{width:calc(100% - 48px);}
.search-box .mdl-textfield__expandable-holder{width:100%;}
.content-section{width:90%;height:auto;}
.slogan{font-size:26px;margin:0 16px;padding-top:24px;}
.sub-slogan{font-size:16px;margin:0 16px;padding-top:8px;}
.create-character{padding-top:200px;font-size:16px;}
.create-character img{height:12px;}
.fab{display:none;}
.wear-band-text{margin-left:0;padding:16px;}
.footer .mdl-mega-footer--bottom-section{display:none;}
}


.tab-container{min-height:500px;}
.no-swiper .tab-container .swiper-wrapper{-webkit-transform:none;-moz-transform:none;-o-transform:none;-ms-transform:none;transform:none;}
.tab-container .swiper-slide{height:100%;width:100%;-webkit-box-align:center;align-items:center;-webkit-box-pack:center;justify-content:center;}
.tab-container-inner{height:100%;}
.tab-wrap{margin:3em auto;}
.tab-navigation{width:40%;margin:0 auto 2em auto;}
.tab-navigation ul{font-size:1.6em;list-style-type:none;display:-webkit-box;display:flex;margin:0;}
.tab-navigation ul .nav-link{padding:0.6em 1em;white-space:nowrap;font-weight:700;color:#053193;opacity:0.6;-webkit-box-flex:1;flex-grow:1;text-align:center;cursor:pointer;}
.tab-navigation ul .nav-link a{color:#053193;font-weight:700;}
.tab-navigation ul .nav-link.active{position:relative;color:#d70107;opacity:1;border-bottom:4px solid #053193;}
.tab-navigation ul .nav-link.active a,.tab-navigation ul .nav-link:hover{color:#d70107;opacity:1;}
.tab-navigation ul .nav-link.active:after{bottom:-0.3em;content:'';position:absolute;left:0;width:100%;height:1px;background:#d70107;}
/*.tab-navigation ul{font-size:1.1em;list-style-type:none;display:-webkit-box;display:flex;margin:0;border:1px solid rgba(0,0,0,0.2);}
.tab-navigation ul .nav-link{padding:10px;color:#053193;-webkit-box-flex:1;flex-grow:1;text-align:center;cursor:pointer;background:#fff;}
.tab-navigation ul .nav-link.active,.tab-navigation ul .nav-link.active a{position:relative;font-weight:bold;color:#fff;background:#d70107;border-radius:50px;-moz-border-radius:50px;-khtml-border-radius:50px;-webkit-border-radius:50px;} */

.links-container{position:relative;padding:0;}
#magic-line{position:absolute;bottom:0;left:0;width:100px;height:4px;000background:#d70107;}

.follow{width:60px;position:fixed;right:-1em;bottom:3.6em;padding:0.55em 0.8em;z-index:10000;overflow:hidden;border-radius:50px;-moz-border-radius:50px;-khtml-border-radius:50px;-webkit-border-radius:50px;background:#053193;display:block;margin:auto;white-space:nowrap;box-sizing:border-box;color:white;-webkit-transition:all 0.2s ease;transition:all 0.2s ease;text-decoration:none;box-shadow:0 5px 6px 0 rgba(0, 0, 0, 0.2);}
.follow i{margin-right:1em;-webkit-transition:margin-right 0.2s ease;transition:margin-right 0.2s ease;}
.follow:hover{width:180px;background:#d70107;}

.electoral-panel,.electoral-box,#constituency-detail,.contest-party,.result-panel,.tab-container.view-mobile,.map-slice-item,.party-group-profile .party-group-info,.party-group-profile .party-member-info{border-radius:8px;-moz-border-radius:8px;-khtml-border-radius:8px;-webkit-border-radius:8px;}
#constituency-detail,.tab-container.view-mobile,.map-slice-item,.party-tab.active,.party-tab:hover,.party-group-profile .party-member-info{box-shadow:0 0 16px 0 rgba(0, 0, 0, 0.04);}

.electoral-panel{padding:2em;margin:2em auto;background:#d70107;color:#fff;}
.electoral-box{width:auto;display:table;margin:auto;border:1px solid #fff;}
.electoral-details div{text-align:center;display:inline-block;padding:1.4em 3em 1em 3em;border-left:1px solid #fff;}
.electoral-details div:first-child{border:none;}
.electoral-details em,.electoral-details span{display:block;}
.electoral-details em{font-size:2em;font-weight:900;}
.electoral-details span{font-size:0.9em;margin-top:0.4em;}


.padding-10{width:80%;margin:auto;display:block;}


@media (max-width:768px){
.tab-container .swiper-wrapper{-webkit-transform:none;-moz-transform:none;-o-transform:none;-ms-transform:none;transform:none;}
.tab-wrap{margin:1em auto;}
.tab-navigation{width:90%;}
.tab-navigation ul{font-size:1em;}
.tab-navigation ul .nav-link.active:after{bottom:-0.4em;}
.electoral-panel{padding:1em;margin:2em auto;}
.electoral-details div{padding:0.8em;}
.electoral-details em{font-size:1.4em;}
.electoral-details .mp-seats,.electoral-details .smc,.electoral-details .grc{width:32%;}
.electoral-details .voters{width:100%;border-top:1px solid #fff;border-left:none;}
.padding-10{width:100%;}
}


#sg-electoral-boundaries{width:90%;margin:4em auto;height:100vh;position:relative;}
#sg-ge-map{}
#sg-map{width:80%;}
#sg-map legend{font-size:1em;margin:2em auto;color:#686868;display:block;text-align:center;}
#sg-map .legend-item{display:inline-block;margin:auto;padding:0 1em;}
#sg-map em{width:10px;height:10px;margin-right:0.4em;display:inline-block;}
#sg-map aside{padding:1em;top:20%;text-align:center;position:absolute;right:0;color:#fff;background:#053193;border-radius:8px;-moz-border-radius:8px;-khtml-border-radius:8px;-webkit-border-radius:8px;}
#sg-map .grc-5 em{background:#fcdcdc;}
#sg-map .grc-4 em{background:#f29ea3;}
#sg-map .smc em{background:#ea4460;}

.new-constituency{font-size:1.1em;width:90px;height:90px;top:-40px;left:-40px;padding:52px 20px 0 0;position:absolute;text-align:right;color:#fff;background:#d70107;border-radius:50%;-moz-border-radius:50%;-khtml-border-radius:50%;-webkit-border-radius:50%;}
#constituency-detail{width:400px;padding:1em 1em 2em 1em;right:2em;z-index:10;overflow:hidden;background:#fff;position:fixed;}
#constituency-detail span{display:block;}
.icon-close{width:30px;height:30px;opacity:0.6;position:absolute;top:1em;right:1em;background:rgba(0,0,0,0.05);display:block;border-radius:50%;-moz-border-radius:50%;-khtml-border-radius:50%;-webkit-border-radius:50%;}
.icon-close i{position:absolute;top:50%;left:50%;margin-right:-50%;transform:translate(-50%,-50%);}
.icon-close:hover{opacity:1;border-color:transparent;background:#d70107;color:#fff;}
.constituency-profile,.contest-party,.party-details,.result-panel{text-align:center;padding:1.4em 0;display:block;}
.constituency-name{border-bottom:1px solid #de3030;padding-bottom:1em;}
.constituency-name .ch{font-size:1.4em;font-weight:700;color:#000;}
.constituency-name .en{font-size:0.85em;margin-top:0.1em;text-transform:uppercase;font-family:Roboto;color:#565656;}

.constituency-voter .ch,.header-title{font-weight:bold;}
.header-title{margin-bottom:0.4em;}
.constituency-voter .num{font-size:1.2em;font-weight:400;}



@media (max-width:768px){
.new-constituency{padding:0.35em 0;font-size:0.9em;margin:-0.5em 0.6em -0.4em 0;width:30px;height:30px;top:0;left:0;display:inline-block!important;position:relative;text-align:center;border:1px solid #fff;}
}

.contest-party{padding:0 1em;margin:0 auto;000border:1px solid rgba(0,0,0,0.2);}
.party-group{display:block;margin-bottom:1.4em;}
.party-profile{display:inline-block;margin:0 auto;}
.party-name{font-size:0.9em;}
.party-name .en{font-size:0.8em;text-transform:uppercase;}

.party-logo{width:26px;height:26px;margin:0.4em 2px;display:block;background-position:0 0;background-size:100% auto;background-repeat:no-repeat;background-attachment:cover;}
.party-pap,.party-sda,.party-psp,.party-independent{width:30px;height:30px;margin:0.4em 0;}

.party-dpp{background-image:url('../../party/imgs/dpp/democrative-progressive-party.svg');}
.party-nsp{background-image:url('../../party/imgs/nsp/national-solidarity-party.svg');}
.party-pap{background-image:url('../../party/imgs/pap/peoples-action-party.svg');}
.party-ppp{background-image:url('../../party/imgs/ppp/peoples-power-party.svg');}
.party-pv{background-image:url('../../party/imgs/pv/peoples-voice.svg');}
.party-psp{background-image:url('../../party/imgs/psp/progress-singapore-party.svg');}
.party-sda{background-image:url('../../party/imgs/sda/singapore-democratic-alliance.svg');}
.party-sdp{background-image:url('../../party/imgs/sdp/singapore-democratic-party.svg');}
.party-spp{background-image:url('../../party/imgs/spp/singapore-peoples-party.svg');}
.party-sf{background-image:url('../../party/imgs/sf/singaporeans-first.svg');}
.party-trp{width:46px;background-image:url('../../party/imgs/trp/the-reform-party.svg');}
.party-wp{background-image:url('../../party/imgs/wp/workers-party.svg');}
.party-independent{background-image:url('../../party/imgs/independent/independent-party.svg');}

.party-slice--item{width:50%!important;margin:0;}
.party-slice--item .party-profile{width:100%;}
.party-slice--item .contest-party .party-profile{padding-bottom:1em;}
.party-slice--item .contest-party .party-profile:nth-child(2){border-top:1px solid #eee;border-bottom:1px solid #eee;}
.party-details{padding:0;}
.party-box{display:block;}
.party-leader{position:relative;}
.party-leader .party-grc-leader:before{content:'领军';width:36px;height:36px;border-radius:50%;right:22%;top:-0.6em;font-size:0.75em;padding:0.6em 0 0 0;color:#fff;z-index:10000;background:#70ca7d;position:absolute;border:2px solid #fff;}

.party-member{display:inline-block;margin:0 0.2em;}
.member-img{width:60px;height:60px;margin:0.4em auto;z-index:1000;position:relative;background:#f0f7ef;display:block;overflow:hidden;border-radius:50%;-moz-border-radius:50%;-khtml-border-radius:50%;-webkit-border-radius:50%;}
.member-img img{width:100%;margin-top:0.4em;position:relative;z-index:1000;}
.member-name{font-size:0.84em;color:#808393;}
.member-designation{font-size:1em;font-weight:600;}



@media (max-width:768px){
.party-slice--item .contest-party .party-profile{width:100%;}
}

.result-panel{padding:1em 2em 0 2em;margin:0 1em;background:#fafafa;}
.result-panel .header-title{font-size:1.2em;color:#d70107;}
.result-panel .constituency-voter .num{font-weight:400;font-size:1em;}
.result-panel .container{width:100%;margin:0 auto;}
.result-panel .party-logo{padding-right:0.6em;}
.result-panel .party-trp{margin-left:-1.2em;margin-top:-0.5em;}	

.tab-content{padding:1em 0;}
.result-tabs{width:100%;position:relative;display:block;padding:0;border-bottom:1px solid #e0e0e0;}
.result-tabs>a{font-size:0.9em;width:49%;color:#999;display:inline-block;text-decoration:none;padding:1em 0;text-transform:uppercase;text-align:center;outline:none;position:relative;}
.result-tabs>a.active{font-weight:700;outline:none;color:#000;}
.result-tabs>a:not(.active):hover{background-color:inherit;color:#7c848a;}

.yellow-bar{position:absolute;z-index:10;bottom:-1px;height:1px;background:#D70107;display:block;left:0;transition:left .2s ease;-webkit-transition:left .2s ease;}
#tab1-tab.active ~ span.yellow-bar{left:0;width:50%;}
#tab2-tab.active ~ span.yellow-bar{left:50%;width:50%;}

.party-result{width:100%;text-align:left;}
.party-result .win{background:#d70107;}
.party-result .lost{background:#0fd0df;}
.party-result .party-group{margin:0;}
.party-result-bar{margin-left:0.6em;display:inline-block;width:80%;white-space:nowrap;}
.party-logo,.party-bar{}
.party-logo,.party-bar,.party-percent{display:inline-block;justify-content:center;align-items:center;vertical-align:middle;}
.party-bar{height:8px;margin-right:0.4em;border-radius:50px;-moz-border-radius:50px;-khtml-border-radius:50px;-webkit-border-radius:50px;}
.party-percent{font-family:Roboto;font-size:0.85em;}

@media (min-width:1100px){
#sg-electoral-boundaries{width:80%;font-size:0.9em;}
}

@media (min-width:840px){
.mdl-grid{padding:1em 0;}
/* .mdl-cell--6-col,.mdl-cell--6-col-desktop.mdl-cell--6-col-desktop{width:calc(50% - 0px);}
.mdl-cell--12-col,.mdl-cell--12-col-tablet,.mdl-cell--12-col-desktop{width:calc(100% - 0px);} */
}

@media (max-width:768px){
.mdl-cell--12-col,.mdl-cell--12-col-phone{width:calc(100% - 0px)!important;}
.result-panel{padding:1em 1em 0 1em;margin:0;}
}

#news-feed{width:80%;margin:4em auto;color:rgba(0,0,0,0.6);}
#news-feed h3{font-size:1.4em;font-weight:600;color:#d70107;}
#news-feed .mdl-card__title-text a{color:rgba(0,0,0,0.6);font-weight:300;}
#news-feed a{color:#d70107;}
#news-feed .mdl-card__actions a:hover{color:#fff;background:#d70107;}
#news-feed .mdl-card__title-text{font-size:1em;height:70px;overflow:hidden;}

@media (max-width:840px){
#news-feed{width:100%;}
#news-feed .card-container{height:100%;width:100%;white-space:nowrap;overflow-x:scroll;overflow-y:hidden;display:block;visibility:visible;position:relative;-webkit-overflow-scrolling:touch;}
#news-feed .mdl-cell{width:250px;height:100%;display:inline-block;position:relative;overflow:hidden;white-space:normal;cursor:pointer;box-sizing:border-box;}
}


@media screen and (max-width:768px){
.tab-container.view-mobile{width:90%;padding:0;margin:5%;background:#fff;overflow:hidden;}
.constituency-tabs{width:100%;z-index:10;display:block;position:fixed;bottom:0;left:0;box-shadow:0 0 16px 0 rgba(0, 0, 0, 0.04);}
.constituency-tabs ul{margin:0;padding:0;width:100%;border:none;display:block;}
.constituency-tabs .nav-tabs li{width:33.33%;padding:0.6em;border:none;background:#f9f9f9;color:#757575;margin:0;float:left;display:inline-block;overflow:hidden;text-align:center;position:relative;}
.constituency-tabs .nav-tabs li a{color:#757575;display:block;}
.constituency-tabs .nav-tabs li:nth-child(1){}
.constituency-tabs .nav-tabs li:nth-child(2){border-left:1px solid #fff;border-right:1px solid #fff;}
.constituency-tabs .nav-tabs li:nth-child(3){}
.constituency-tabs .nav-tabs li.active{background:#d70107;color:#fff;}
.constituency-tabs .nav-tabs li.active a{color:#fff;}
}

.tab_content{padding:20px;display:none;}
.tab_drawer_heading{display:none;}

@media screen and (max-width:480px){
.nav-tabs{display:none;}
.tab_drawer_heading{background-color:#ccc;color:#fff;border-top:1px solid #333;margin:0;padding:5px 20px;display:block;cursor:pointer;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.d_active{background-color:#666;color:#fff;}
}


.accordion{width:100%;}
.accordion input{position:absolute;opacity:0;z-index:-1;}
.accordion-item{margin-bottom:0.4em;width:100%;color:#333;overflow:hidden;}
.accordion-label{display:-webkit-box;display:flex;-webkit-box-pack:justify;justify-content:space-between;padding:1em 1em 1em 1.4em;background:#f8f8f8;cursor:pointer;border-radius:50px;-moz-border-radius:50px;-khtml-border-radius:50px;-webkit-border-radius:50px;}
.accordion-label:hover{background:#f8f8f8;}
.accordion-label::after{content:"\276F";width:1em;height:1em;text-align:center;-webkit-transition:all .35s;transition:all .35s;}
.accordion-label .constituency-name{padding:0;margin:0;position:relative;border:none;}
.accordion-label .constituency-name .ch{margin-right:0.6em;font-size:1.1em;}
.accordion-content{max-height:0;overflow:visible;padding:0 1em;position:relative;color:#2c3e50;background:white;-webkit-transition:all .35s;transition:all .35s;}
.accordion-content .container{margin:0;padding:0;}
.accordion-content .constituency-profile span{display:block;}
input:checked + .accordion-label{background:#d70107;color:#fff;}
input:checked + .accordion-label span{color:#fff;}
input:checked + .accordion-label::after{-webkit-transform:rotate(90deg);transform:rotate(90deg);}
input:checked ~ .accordion-content{max-height:100vh;padding:1em;overflow:auto;}



@media screen and (max-width:768px){
.tab-container.view-mobile input:checked ~ .accordion-content{max-height:auto;height:400px;overflow:auto;}
.accordion-label .constituency-name .ch{margin-right:0.4em;font-size:0.8em;}
input:checked ~ .accordion-content{padding:1em 0;}
}

#mapSlice h2{font-size:3em;margin:1em auto;color:#053193;font-weight:900;}
#mapSlice .mdl-card{background:none;}
.map-slice{width:100%;display:flex;}
.map-slice h3{font-size:1.2em;margin:0;font-weight:500;}
.map-slice-box{padding:1em;margin:0;}
.map-slice-item{padding:1.4em 2em;background:#fff;}
img.m-slice{width:80%;margin:auto;display:flex;}

.new-smc{}
.obsolete-smc .map-slice-item{min-height:65vh;}

@media screen and (min-width:1100px){
.map-slice-item{padding:1.4em 3em;}
img.m-slice{width:90%;}

.obsolete-smc .map-slice-item{padding:1.4em 2em;}
.obsolete-smc img.m-slice{width:100%;}
}


@media screen and (max-width:768px){
.mdl-grid{padding:0;}
.mdl-cell{margin:0.4em 0;}
.map-slice{width:100%;}
.map-slice-item{padding:1em;width:calc(100% - 0px)!important;}
img.m-slice{width:100%;}
.obsolete-smc .map-slice-item{min-height:auto;padding:1em;}
.obsolete-smc img.m-slice{width:80%;}
#mapSlice{padding:0;}
#mapSlice h2{font-size:2em;}
}

#footer{background:#fff;clear:both;position:relative;padding:4em 0;color:#333;font-size:0.9em;z-index:100001;}
#footer .container{position:relative;z-index:100001;}
#footer .credits{font-size:13px;color:#888;position:relative;z-index:100001;}
#footer .social-links a{margin:0 0.2em;}
#footer .footer-links a{color:#666;padding-left:15px;}
#footer .footer-links a:first-child{padding-left:0;}
#footer .footer-links a:hover{color:#84909c;}
#footer .copyright{margin:5em auto 2em auto;}

#interactive-recommendation{margin:2em auto;border-bottom:1px solid rgba(0,0,0,0.1);}
#interactive-recommendation a{color:rgba(0,0,0,0.6);transition:none;}
#interactive-recommendation a:hover{color:rgba(0,0,0,1);}
#interactive-recommendation .recommend-box{text-align:left;padding-bottom:1em;}
#interactive-recommendation .recommend-box:nth-child(2){border-left:1px solid rgba(0,0,0,0.1);border-right:1px solid rgba(0,0,0,0.1);}
#interactive-recommendation img{border:1px solid rgba(0,0,0,0.03);}
#interactive-recommendation figcaption{margin:0.8em 0;}

#contact .contact-about img{width:140px;margin:1em auto;display:block;}
#contact .contact-about p{font-size:14px;line-height:24px;color:#888;}
#contact .share{margin-bottom:2em;}
#contact .share .social-links a{color:#fff;border-color:transparent;}
#contact .social-links a.facebook{background:#3d5997;}
#contact .social-links a.twitter{background:#56abed;}
#contact .social-links a.instagram{background:#000;}
#contact .social-links a.youtube{background:#e30000;}
#contact .social-links a.whatsapp{background:#29d266;}
#contact .social-links a.telegram{background:#0088cc;}

#contact .info{color:#333333;font-size:14px;border-bottom:1px solid #eee;padding-bottom:1em;margin-bottom:2em;}
#credits{margin-bottom:1em;}
#credits dl{margin:0.5em auto;width:300px;}
#credits dt,#credits dd{display:table-cell;}
#credits dt:after{padding:0 0.5em;color:#84909c;content:'/';position:relative;}
#credits .dl-list dd{margin-right:2em;}
#credits aside{margin:2em auto;}
#credits dt{width:50%;float:left;clear:left;text-align:right;font-weight:bold;}
#credits dd{width:50%;padding:0 0 0.5em 0;text-align:left;}
#zbsg-interactive{margin-bottom:3em;}
#zbsg-social{margin-top:1em;}
#zbsg-social h3{font-size:1.2em;}
#zbsg-social .social-links a{width:38px;height:38px;font-size:18px;border:none;color:#fff;}


.tooltip:hover{000fill:#CC2929;-moz-transition:0.3s;-o-transition:0.3s;-webkit-transition:0.3s;transition:0.3s;}
.enabled{fill:#21669E;cursor:pointer;}
.tooltiptext{pointer-events:none;position:absolute;font-size:14px;text-align:center;background:#053193;padding:0.35em 0.8em 0.4em 0.8em;z-index:5;margin:0 auto;color:#fff;border-radius:4px;-moz-border-radius:4px;-khtml-border-radius:4px;-webkit-border-radius:4px;-moz-transform:translateX(-50%);-ms-transform:translateX(-50%);-webkit-transform:translateX(-50%);transform:translateX(-50%);display:none;}
.tooltiptext.active{display:block;}
.tooltiptext:before{content:"";position:absolute;left:50%;top:-6px;width:0;height:0;margin-left:-6px;border-left:6px solid transparent;border-right:6px solid transparent;border-bottom:6px solid #053193;}

[data-tab-content]{display:block;}
.active[data-tab-content]{display:block;}
#partyison{position:relative;display:block;}
.party-tabs{width:160px;left:0;bottom:0;padding:1em 0 0 0;background:#fff;position:fixed;margin:0;z-index:1000000;justify-content:space-around;list-style-type:none;box-shadow:0 0 16px 0 rgba(0, 0, 0, 0.04);}
.party-tabs .party-name{margin-top:-0.4em;padding:0.3em 1em 0.2em 1em;border-radius:50px;-moz-border-radius:50px;-khtml-border-radius:50px;-webkit-border-radius:50px;transform:skew(-8deg) rotate(-8deg) translateZ(0);-webkit-transform:skew(-8deg) rotate(-8deg) translateZ(0);-moz-transform:skew(-8deg) rotate(-8deg) translateZ(0);-ms-transform:skew(-8deg) rotate(-8deg) translateZ(0);}
.party-tabs .party-logo,.party-tabs .party-name{display:inline-block;}
.party-tabs .party-logo{width:24px;height:24px;margin:0;padding:0;}
.party-tab{width:46px;height:46px;margin-bottom:2px;position:relative;cursor:pointer;display:inline-block;clear:both;color:#aaa;border-radius:50%;-moz-border-radius:50%;-khtml-border-radius:50%;-webkit-border-radius:50%;}
.party-tab .party-name{display:none;}
.party-tab a{display:flex;position:absolute;cursor:pointer;top:50%;left:50%;margin-right:-50%;transform:translate(-50%,-50%);-webkit-box-align:center;align-items:center;-webkit-box-pack:center;justify-content:center;}
.party-tab:hover,.party-tab.active{background:#fff;opacity:1;}
.party-tab-content{display:block;}
.party-tab-detail{padding:0;margin:4em auto;}

.party-tab-detail .jumbotron{padding:3em 0;margin:4em 0;width:100%;height:70vh;overflow:hidden;z-index:10000000;position:relative;background-position:center;background-attachment:cover;background-size:100%;background-repeat:no-repeat;}
.party-tab-detail .jumbotron:before{width:100%;height:100%;content:'';position:absolute;display:block;bottom:0;left:0;z-index:100;background:linear-gradient(0deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%);}
.party-tab-detail .jumbotron-content{width:60%;bottom:10%;margin:0;text-align:left;align-items:stretch;position:absolute;left:0;z-index:1000;color:#fff;justify-content:center;align-items:center;}
.party-tab-detail .jumbotron h3,.party-tab-detail .jumbotron .blurb{display:block;transform:skew(-8deg) rotate(-8deg) translateZ(0);-webkit-transform:skew(-8deg) rotate(-8deg) translateZ(0);-moz-transform:skew(-8deg) rotate(-8deg) translateZ(0);-ms-transform:skew(-8deg) rotate(-8deg) translateZ(0);}
.party-tab-detail .jumbotron h3{font-size:3em;font-weight:900;margin:0 0 0.6em 0;padding:0;}
.party-tab-detail .jumbotron h3 span{background:rgba(216,1,7,0.7);padding:0.6em 1em 0.5em 2em;margin:0;}
.party-tab-detail .jumbotron .blurb{padding:2em 3em 2em 5em;font-size:1.2em;line-height:1.4;background:rgba(0,0,0,0.5);}

#party-pap .jumbotron{background-image:url('../../party/imgs/pap/pap-jumbotron-large.jpg');}
#party-wp .jumbotron{background-image:url('../../party/imgs/wp/wp-jumbotron-large.jpg');}
#party-sdp .jumbotron{background-image:url('../../party/imgs/sdp/sdp-jumbotron-large.jpg');}
#party-psp .jumbotron{background-image:url('../../party/imgs/psp/psp-jumbotron-large.jpg');}
#party-spp .jumbotron{background-image:url('../../party/imgs/spp/spp-jumbotron-large.jpg');}
#party-trp .jumbotron{background-image:url('../../party/imgs/trp/trp-jumbotron-large.jpg');}
#party-sda .jumbotron{background-image:url('../../party/imgs/sda/sda-jumbotron-large.jpg');}
#party-sf .jumbotron{background-image:url('../../party/imgs/sf/sf-jumbotron-large.jpg');}
#party-nsp .jumbotron{background-image:url('../../party/imgs/nsp/nsp-jumbotron-large.jpg');}
#party-ppp .jumbotron{background-image:url('../../party/imgs/ppp/ppp-jumbotron-large.jpg');}
#party-pv .jumbotron{background-image:url('../../party/imgs/pv/pv-jumbotron-large.jpg');}
#party-dpp .jumbotron{background-image:url('../../party/imgs/dpp/dpp-jumbotron-large.jpg');}

@media screen and (min-width:768px){
.party-tab-detail .jumbotron{z-index:10000000;}
}

@media screen and (max-width:768px){
.party-tabs{width:100%;z-index:1000000000;bottom:0;left:0;padding:0.6em 0 0 0;background:#fff;text-align:center;}
.party-tabs .party-logo{width:20px;height:20px;}
.party-tab{width:26px;height:26px;border-radius:0;-moz-border-radius:0;-khtml-border-radius:0;-webkit-border-radius:0;}

.party-tab-detail .jumbotron{padding:3em 0;width:100%;height:100vh;}
.party-tab-detail .jumbotron:before{bottom:0;}
.party-tab-detail .jumbotron-content{width:100%;bottom:16%;}
.party-tab-detail .jumbotron h3{font-size:2em;}
.party-tab-detail .jumbotron h3 span{padding:0.6em 1em 0.5em 1em;}
.party-tab-detail .jumbotron .blurb{padding:1.2em 1.6em 1em 2em;font-size:0.9em;}
#party-pap .jumbotron{background-image:url('../../party/imgs/pap/pap-jumbotron-small.jpg');}
#party-wp .jumbotron{background-image:url('../../party/imgs/wp/wp-jumbotron-small.jpg');}
#party-sdp .jumbotron{background-image:url('../../party/imgs/sdp/sdp-jumbotron-small.jpg');}
#party-psp .jumbotron{background-image:url('../../party/imgs/psp/psp-jumbotron-small.jpg');}
#party-spp .jumbotron{background-image:url('../../party/imgs/spp/spp-jumbotron-small.jpg');}
#party-trp .jumbotron{background-image:url('../../party/imgs/trp/trp-jumbotron-small.jpg');}
#party-sda .jumbotron{background-image:url('../../party/imgs/sda/sda-jumbotron-small.jpg');}
#party-sf .jumbotron{background-image:url('../../party/imgs/sf/sf-jumbotron-small.jpg');}
#party-nsp .jumbotron{background-image:url('../../party/imgs/nsp/nsp-jumbotron-small.jpg');}
#party-ppp .jumbotron{background-image:url('../../party/imgs/ppp/ppp-jumbotron-small.jpg');}
#party-pv .jumbotron{background-image:url('../../party/imgs/pv/pv-jumbotron-small.jpg');}
#party-dpp .jumbotron{background-image:url('../../party/imgs/dpp/dpp-jumbotron-small.jpg');}
}

.duo-quote,.single-quote{margin:5em auto;display:inline-flex;}
.duo-quote blockquote,.single-quote blockquote{position:relative;margin:0 -0.3em;border:4px solid #f8f9ff;max-height:250px;display:block;background:#053193;transform:skew(-8deg) rotate(0deg) translateZ(0);-webkit-transform:skew(-8deg) rotate(0deg) translateZ(0);-moz-transform:skew(-8deg) rotate(0deg) translateZ(0);-ms-transform:skew(-8deg) rotate(0deg) translateZ(0);border-radius:12px;-moz-border-radius:12px;-khtml-border-radius:12px;-webkit-border-radius:12px;}
.single-quote blockquote{width:76%;margin:0 auto;}
.duo-quote blockquote:before,.duo-quote blockquote:after,.single-quote blockquote:before,.single-quote blockquote:after{display:none;}
.duo-quote blockquote span,.duo-quote blockquote cite,.single-quote blockquote span,.single-quote blockquote cite{font-size:0.75em;letter-spacing:0;font-style:normal;display:block;position:relative;z-index:1;}
.duo-quote blockquote span,.single-quote blockquote span{padding:3em;line-height:1.6;display:block;font-weight:500;font-style:normal;color:#fff;}
.duo-quote blockquote:nth-child(2){margin-top:-2em;}
.duo-quote blockquote cite,.single-quote blockquote cite{top:90%;right:40%;margin-right:-40%;position:absolute;transform:translate(-50%,-50%);transform:skew(8deg) rotate(0deg) translateZ(0);-webkit-transform:skew(8deg) rotate(0deg) translateZ(0);-moz-transform:skew(8deg) rotate(0deg) translateZ(0);-ms-transform:skew(8deg) rotate(0deg) translateZ(0);}
.single-quote blockquote cite{top:85%;}
.duo-quote blockquote:nth-child(2) cite{top:95%;}
blockquote .party-member{margin:-1em 0;position:relative;display:flex;align-items:center;}
blockquote:nth-child(2) .party-member{margin-top:-2em;}
blockquote .member-img{width:90px;height:90px;background:#fff;margin:0 2em 0 0;}
blockquote .member-img img{margin-top:0.2em;}
blockquote .member-name{font-size:0.8em;padding:0.6em 2em 0.5em 1.2em;margin-right:-1em;font-weight:400;background:#d70107;color:#fff;transform:skew(-8deg) rotate(0deg) translateZ(0);-webkit-transform:skew(-8deg) rotate(0deg) translateZ(0);-moz-transform:skew(-8deg) rotate(0deg) translateZ(0);-ms-transform:skew(-8deg) rotate(0deg) translateZ(0);border-radius:6px;-moz-border-radius:6px;-khtml-border-radius:6px;-webkit-border-radius:6px;}
blockquote .member-name b{font-weight:700;}



@media screen and (max-width:768px){
.duo-quote{display:block;padding:1em;}
.single-quote blockquote{width:100%;}
.duo-quote blockquote{width:100%;margin:1em auto 2em auto;max-height:none;}
.duo-quote blockquote .plate,blockquote:nth-child(2) .plate{height:100%;}
.duo-quote blockquote:nth-child(2){margin-top:1em;}
.duo-quote blockquote span,.duo-quote blockquote cite{font-size:0.8em;}
.duo-quote blockquote span{padding:2em 3em 3em 3em;}
.duo-quote blockquote cite{right:10%;margin-right:-10%;}
blockquote:nth-child(2) .party-member{margin-top:-1.4em;}
blockquote .member-img{width:70px;height:70px;}
}


.party-group-profile{margin:1em auto;text-align:center;width:auto;display:table;width:100%;}
.party-group-profile h3{font-size:1.6em;margin:1em auto;color:#053193;}
.party-group-profile span{color:#000;padding:0;margin:0;display:block;}
.party-group-profile .election-vote-percent span{font-weight:700;}
.party-group-profile .election-vote-percent em{font-weight:300;}
.party-group-profile .election-vote-percent i{font-size:0.9em;font-weight:300;font-style:normal;color:#d70107;}
.party-group-profile .mdl-cell{width:calc(50% - 0px);margin:0;}
.party-group-profile .party-details{width:100%;display:table;background:#fff;padding:1em;}
.party-group-profile .party-group-info{width:60%;padding:1em 2em;}
.party-group-profile .party-group-info,.party-group-profile .party-member-info{display:table-cell;}
.party-group-profile .party-details .party-box{overflow:initial;}
.party-group-profile .party-logo{width:60px;height:60px;margin-bottom:1em;}
#party-trp .party-group-profile .party-logo{width:80px;height:70px;}
.party-group-profile .party-name .ch{font-size:1.4em;font-weight:700;}
.party-group-profile .party-name .en{font-size:0.9em;margin:0.3em auto;}
.party-group-profile .party-background{font-size:1em;border-top:1px solid #000;margin:1em auto 0 auto;}
.party-group-profile .party-background .item{margin-top:1em;padding-top:1em;border-top:1px solid rgba(0,0,0,0.1);}
.party-group-profile .party-background .mdl-grid,.party-group-profile .party-background .mdl-cell{padding:0;margin:0 auto;}
.party-group-profile .party-background .mdl-grid{border-bottom:1px solid #000;}
.party-group-profile .party-background label,.party-group-profile .party-background span{display:block;}
.party-group-profile .party-background label{padding:0.8em 0 0 0;color:rgba(0,0,0,0.4);}
.party-group-profile .party-background span{padding:0.2em 0 0.5em 0;font-size:1.2em;font-weight:700;}
.party-group-profile .party-background .territory-district{border-top:1px solid #000;border-bottom:1px solid #000;}
.party-group-profile .party-background .territory-district span,.party-group-profile .party-background .active-district span{font-size:1em;font-weight:400;}
.party-group-profile .party-background .parliament-seats{border-left:1px solid #000;}
.party-group-profile .parliament-seats b{color:#053193;font-weight:900;}
.party-group-profile .parliament-seats em{color:#d70107;}
.party-group-profile .party-member-info{width:40%;background:#f0f7ef;overflow:hidden;}
/* .party-group-profile .party-box{overflow:hidden;} */
.party-group-profile .party-leader{position:relative;}
.party-group-profile .party-leader .member-name span{font-size:1.4em;font-weight:700;}
.party-group-profile .member-img{width:100%;height:auto;border-radius:0;-moz-border-radius:0;-khtml-border-radius:0;-webkit-border-radius:0;}
.party-group-profile .party-leader .member-img{width:64%;}
.party-group-profile .member-img.align-right{text-align:right;margin:0 0 0 auto;}
.party-group-profile .member-img.align-left{text-align:left;margin:0;}
.party-group-profile .member-img.align-center{text-align:center;margin:0 auto;}
.party-group-profile .member-name span{font-size:1.2em;font-weight:500;}
.party-group-profile .member-name label{font-size:1.1em;display:block;}
/* .party-group-profile .party-member-label .member-name{transform:skew(8deg) rotate(8deg) translateZ(0);-webkit-transform:skew(8deg) rotate(8deg) translateZ(0);-moz-transform:skew(8deg) rotate(8deg) translateZ(0);-ms-transform:skew(8deg) rotate(8deg) translateZ(0);} */
.party-group-profile .party-member-label{bottom:-2em;width:100%;position:absolute;z-index:1000;background:#fff;transform:skew(-8deg) rotate(-8deg) translateZ(0);-webkit-transform:skew(-8deg) rotate(-8deg) translateZ(0);-moz-transform:skew(-8deg) rotate(-8deg) translateZ(0);-ms-transform:skew(-8deg) rotate(-8deg) translateZ(0);box-shadow:0 0 50px 0 rgba(5, 11, 49, 0.06);}
.party-group-profile .party-leader .party-member-label{bottom:-30%;height:40%;padding:1em 2em;}
.party-group-profile .party-leader .party-grc-leader:before{width:70px;height:70px;right:12%;top:26%;font-size:1.2em;padding:1.4em 0 0 0;border:none;}
#party-wp .party-group-profile .party-leader .party-grc-leader:before,#party-sdp .party-group-profile .party-leader .party-grc-leader:before,#party-psp .party-group-profile .party-leader .party-grc-leader:before,#party-spp .party-group-profile .party-leader .party-grc-leader:before{left:12%;right:auto;}
.party-group-profile .party-details,.party-group-profile .party-members{display:block;margin:0 auto;width:100%;padding:1em;background:#fff;box-shadow:0 0 50px 0 rgba(0, 0, 0, 0.06);}

#party-sf .party-group-profile .party-leader .party-grc-leader:before,#party-ppp .party-group-profile .party-leader .party-grc-leader:before,#party-pv .party-group-profile .party-leader .party-grc-leader:before,#party-sda .party-group-profile .party-leader .party-grc-leader:before,#party-trp .party-group-profile .party-leader .party-grc-leader:before,#party-dpp .party-group-profile .party-leader .party-grc-leader:before{display:none;}

.party-group-profile .party-members h4{font-size:1em;color:rgba(0,0,0,0.4);}
.party-group-profile .party-members .party-member{overflow:hidden;margin:-0.1em;display:inline-block;position:relative;background:#f0f7ef;border-radius:8px;-moz-border-radius:8px;-khtml-border-radius:8px;-webkit-border-radius:8px;box-shadow:0 0 16px 0 rgba(0, 0, 0, 0.04);z-index:10000;}
.party-group-profile .party-members .party-member .party-member-label{height:40%;padding:0.8em 1em 1em 0;bottom:-1em;}
.party-group-profile .party-members .party-member .member-img{padding-top:0.8em;width:100%;height:240px;}
.party-group-profile .party-members .party-member .member-img img{width:80%;}
.party-group-profile .party-member-label{text-align:right;}
.party-group-profile .party-member-name{margin:0 auto 1em auto;width:70%;}
.party-group-profile .other-mp{margin:-0.1em;line-height:1.6;}
.party-group-profile .party-member.text-box{height:30vh;vertical-align:top;background:rgba(0,0,0,0.02);box-shadow:none;position:relative;justify-content:center;align-items:center;}
.party-group-profile .text-box .item{padding:1em;position:absolute;top:50%;left:50%;margin-right:-50%;transform:translate(-50%,-50%);}
.party-group-profile .text-box .item p{opacity:0.6;font-size:0.9em;line-height:1.4;}
.party-group-profile .party-members .party-member{width:20%;}
.party-group-profile .other-members .party-member-name span{display:inline-block;padding:0.4em 1em 0.3em 1em;margin:0.2em;background:#f0f7ef;font-weight:500;}

@media screen and (max-width:768px){
.party-group-profile .party-details{margin:0 auto;display:block;}
.party-group-profile .party-background span{padding:0.2em 0 0.4em 0;font-size:1em;}
.party-group-profile .party-leader .member-img{width:50%;}
.party-group-profile .party-leader .party-member-label{height:40%;bottom:-10%;padding:1em 2em;}
.party-group-profile .party-leader .party-grc-leader:before{top:10%;}
.party-group-profile .party-group-info,.party-group-profile .party-member-info{width:100%;display:block;}
.party-group-profile .party-details,.party-group-profile .party-members{display:grid;}
.party-group-profile .party-members .party-member{display:inline-block;float:left;margin:0;}
.party-group-profile .party-members .party-member .member-img{width:100%;height:180px;}
.party-group-profile .party-members .party-member .member-img img{width:70%;margin:0;}
.party-group-profile .member-name span{font-size:1.1em;}
.party-group-profile .member-name label{font-size:0.95em;padding-top:0;}
.party-group-profile .party-members .party-member .party-member-label{bottom:-1em;padding:0.6em 1em 0.6em 0;}
.party-group-profile .party-members .party-member{width:50%;}
.party-group-profile .party-member-name{width:90%;}
.party-group-profile .party-member.text-box{height:28vh;}
}

@media screen and (min-width:400px) and (max-width:601px){
.party-group-profile .party-members .party-member .member-img{height:220px;}
}

@media screen and (min-width:600px) and (max-width:768px){
.party-group-profile .party-details,.party-group-profile .party-members{width:80%;}
.party-group-profile .party-members .party-member .member-img{height:280px;}
}

@media screen and (min-width:769px) and (max-width:1000px){
.party-group-profile .party-details,.party-group-profile .party-members{width:100%;}
.party-group-profile .party-members .party-member .member-img{height:190px;}
.party-group-profile .party-members .party-member .party-member-label{height:40%;bottom:-0.6em;padding:0.6em 1em 0.6em 0;}
}


.party-group-profile .mdl-button{padding:0 1.4em;background:#d70107;color:#fff;border-radius:50px;-moz-border-radius:50px;-khtml-border-radius:50px;-webkit-border-radius:50px;}





/* Filter */
#filter-option{margin:1em auto;text-align:center;vertical-align:top;}

select:hover{cursor:pointer;}
.selectCF{margin:0 0 0.4em 0;padding:0;display:inline-block;position:relative;font-weight:bold;vertical-align:top;}
.selectCF li{list-style:none;cursor:pointer;perspective:900px;-webkit-perspective:900px;text-align:left;white-space:nowrap;}
.selectCF > li{position:relative;font-size:0;}
.selectCF span{display:inline-block;height:40px;line-height:40px;color:#FFF;z-index:1;}
.selectCF .arrowCF{transition:.3s;-webkit-transition:.3s;width:40px;text-align:center;vertical-align:top;font-size:14px;}
.selectCF .titleCF{padding:0 1em;border-left:dotted 1px rgba(244,244,244,.5);font-size:14px;font-weight:400;}
.selectCF .searchCF{padding:0 1em;border-left:dotted 1px rgba(244,244,244,.5);position:absolute;top:0;right:0;z-index:-1;}
.selectCF .titleCF,.selectCF .searchCF{width:auto!important;}

@keyframes searchActive {
	from{transform:rotateY(180deg);}
	to{transform:rotateY(0deg);}
}
@-moz-keyframes searchActive {
	from{transform:rotateY(180deg);}
	to{transform:rotateY(0deg);}
}
@-webkit-keyframes searchActive {
	from{-webkit-transform:rotateY(180deg);}
	to{-webkit-transform:rotateY(0deg);}
}
.searchActive .searchCF{z-index:1;animation:searchActive 0.3s alternate 1;-moz-animation:searchActive 0.3s alternate 1;-webkit-animation:searchActive 0.3s alternate 1;}
.searchActive .titleCF{opacity:0;}
.selectCF .searchCF input{line-height:40px;border:none;padding:0;margin:0;width:100%;height:100%;background:transparent;}
.selectCF .searchCF input:active,.selectCF .searchCF input:focus{box-shadow:none;border:none;outline:none;}
.selectCF li ul{display:none;position:absolute;top:100%;left:0;padding:0!important;width:100%;background:#FFF;max-height:255px;overflow-y:auto;transition:.2s;-webkit-transition:.2s;z-index:2;background:rgba(253,253,253,.9);}
.selectCF li ul li{padding:0.6em 1em;width:100%;border-bottom:1px solid rgba(240,240,240,.9);font-weight:normal;transition:.2s;-webkit-transition:.2s;white-space:nowrap;}
.selectCF li ul li:hover{background:rgba(0,0,0,0.05);color:#000;}
.selectCF li ul li:first-child{display:none!important;}
.selectCF li ul li:last-child{border-bottom:none;}
.onCF .arrowCF,.onCF .titleCF,.selectCF .selected,.selectCF .selected .titleCF:focus{background:#d70107!important;color:#fff!important;}
.onCF .arrowCF{transform:rotate(90deg);-webkit-transform:rotate(90deg);}
.filter-search{padding:0!important;}
.filter-search label{top:0.2em!important;bottom:auto!important;}
@-moz-keyframes effect1 {
	from{transform:translateY(15px);opacity:0;}
	to{transform:translateY(0px);opacity:1;}
}
@-webkit-keyframes effect1 {
	from{ -webkit-transform:translateY(15px);opacity:0;}
	to{ -webkit-transform:translateY(0px);opacity:1;}
}
.onCF li ul{display:table;-moz-animation:effect1 0.3s alternate 1;-webkit-animation:effect1 0.3s alternate 1;}
#filter-option .mdl-textfield__expandable-holder{margin-left:1.6em;}
#filter-option .mdl-textfield__label{margin-top:0.7em;padding-bottom:0;}
#filter-option .mdl-textfield__label:after{height:1px;}
#filter-option .mdl-textfield__input{border:none;margin:0.5em 0 0 1em;}

input.search{text-align:center;color:#333;background:#e5e5e5;border:none;padding:0.8em 1em;outline:none;font-family:icomoon,Helvetica, Arial, Hiragino Sans GB, WenQuanYi Micro Hei, Heiti SC, Microsoft YaHei, sans-serif;-webkit-border-radius:50px;-moz-border-radius:50px;-ms-border-radius:50px;border-radius:50px;}
input.search::-webkit-input-placeholder{color:#575757;}
input.search::-ms-input-placeholder{color:#575757;}
input.search::placeholder{color:#575757;}

@media screen and (max-width:768px){
.selectCF .arrowCF{display:none;}
.selectCF .titleCF{padding:0 0.4em;}
.selectCF span{height:auto;line-height:2;}
.filter-search label{top:0!important;}
}





