.mp-panel{width:80%;margin:auto;}
.active-with-click .col-md-3.col-sm-6.col-xs-12{padding:0 0.5em!important;}

.material-card{margin-bottom:1em;min-height:290px;height:0;overflow:hidden;position:relative;background:#f2f7ef;border-radius:8px;-moz-border-radius:8px;-khtml-border-radius:8px;-webkit-border-radius:8px;padding-bottom:calc(100% - 100px);-webkit-transition:all 0.3s;-moz-transition:all 0.3s;-ms-transition:all 0.3s;-o-transition:all 0.3s;transition:all 0.3s;}
.material-card:hover{box-shadow:0 0 50px 0 rgba(0, 0, 0, 0.08);}
.material-card.mc-active{min-height:596px;vertical-align:top;background:#053193;box-shadow:0 0 40px 0 rgba(0, 0, 0, 0.15);}
.material-card h2{padding:1em 1.4em;font-size:1em;line-height:1.4;position:absolute;top:calc(100% - 90px);left:0;width:100%;color:#000;margin:0;z-index:10;-webkit-transition:all 0.3s;-moz-transition:all 0.3s;-ms-transition:all 0.3s;-o-transition:all 0.3s;transition:all 0.3s;position:absolute;background:#fff;transform:skew(-8deg) rotate(-8deg) translateZ(0);-webkit-transform:skew(-8deg) rotate(-8deg) translateZ(0);-moz-transform:skew(-8deg) rotate(-8deg) translateZ(0);-ms-transform:skew(-8deg) rotate(-8deg) translateZ(0);box-shadow:0 0 50px 0 rgba(5, 11, 49, 0.06);}
.material-card h2 span{display:block;}
.material-card h2 span.ch{font-weight:400;display:block;}
.material-card.mc-active h2 span.ch{font-size:1.2em;}
.material-card h2 .member-name{font-size:1em;color:#000;}
.material-card h2 .member-name .ch{font-weight:600;}
.material-card h2 .constituency-name{font-size:0.65em;font-weight:400;border-bottom:none;padding-bottom:0;}
.material-card h2:before,.material-card h2:after{display:none!important;content:' ';position:absolute;left:0;top:-16px;width:0;border:8px solid;-webkit-transition:all 0.3s;-moz-transition:all 0.3s;-ms-transition:all 0.3s;-o-transition:all 0.3s;transition:all 0.3s;}
.material-card h2:after{top:auto;bottom:0;}
.material-card .profile-img{width:70%;margin:1em auto 0 auto;display:block;}
.material-card.mc-active .profile-img{width:90%;margin-top:0.4em;}
.material-card h2 .member-territory,.material-card h2 .party-logo{display:inline-block;}
.material-card.mc-active h2 .party-logo{display:none;}
.material-card .party-logo{float:right;transform:skew(8deg) rotate(8deg) translateZ(0);-webkit-transform:skew(8deg) rotate(8deg) translateZ(0);-moz-transform:skew(8deg) rotate(8deg) translateZ(0);-ms-transform:skew(8deg) rotate(8deg) translateZ(0);}

.material-card.mc-active h2{top:-2.4em;padding:3.4em 1em 0.8em 5em;}
.material-card.mc-active h2:before{top:0;}
.material-card.mc-active h2:after{bottom:-16px;}
.material-card .mc-content{position:absolute;right:0;top:0;bottom:0;left:0;-webkit-transition:all 0.3s;-moz-transition:all 0.3s;-ms-transition:all 0.3s;-o-transition:all 0.3s;transition:all 0.3s;}

.material-card .mc-btn-action{width:34px;height:34px;line-height:34px;position:absolute;right:1em;top:1em;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;text-align:center;color:#fff;cursor:pointer;z-index:20;-webkit-transition:all 0.3s;-moz-transition:all 0.3s;-ms-transition:all 0.3s;-o-transition:all 0.3s;transition:all 0.3s;}
.material-card .mc-btn-action:before{padding:0;width:17em;height:17em;display:block;content:'';position:absolute;right:0;top:0;}
.material-card .mc-btn-action:hover{transform:scale(1.2);}
.material-card .mc-btn-action i{display:inline-block;}
.material-card.mc-active .mc-btn-action{top:1em;background:#d70107;000transform:rotate(180deg);000-webkit-transform:rotate(180deg);}
.material-card .mc-detail{font-size:0.9em;padding:0 1.4em;width:100%;height:64%;position:absolute;top:100%;overflow-y:auto;opacity:0;filter:alpha(opacity=0);-webkit-transition:all 1.2s;-moz-transition:all 1.2s;-ms-transition:all 1.2s;-o-transition:all 1.2s;transition:all 1.2s;}
.material-card:hover img{transform:scale(1.1);}
.material-card .mc-detail .member-designation{text-align:center;}
.material-card .mc-detail .result-panel{padding:1em;margin:1em 0;color:#fff;width:100%;background:#d70107;}
.material-card .mc-detail .result-panel .header-title{color:#fff;}
.material-card .mc-detail .election-performance{display:flex;}
.material-card .mc-detail .election-vote{display:inline-block;padding:0 0.6em;width:50%;}
.material-card .mc-detail .election-vote label,.material-card .mc-detail .election-vote span,.material-card .mc-detail .election-vote small{display:block;}
.material-card .mc-detail .election-vote label{border-bottom:1px solid #fff;}
.material-card .mc-detail .election-vote span{font-weight:bold;}
.material-card .mc-detail .election-vote span em{font-weight:300;}
.material-card .mc-detail .election-vote small{}

.material-card .mc-detail .serving-term{width:100%;text-align:center;}
.material-card .mc-detail .serving-term label{font-weight:600;}
.material-card .mc-detail .serving-term span{margin:0 0.4em;font-size:0.9em;display:inline-block;font-family:Roboto;}

.material-card .mc-detail .member-profile{margin:1em auto;}
.material-card .mc-detail .member-age{float:left;}
.material-card .mc-detail .member-age span{font-weight:600;}
.material-card .mc-detail .member-age em:after{content:'';margin:0 0.4em;width:8px;height:8px;display:inline-block;background:#d70107;border-radius:50%;-moz-border-radius:50%;-khtml-border-radius:50%;-webkit-border-radius:50%;}

.material-card .mc-detail .get-social{margin:2em 0;text-align:center;}
.material-card .mc-detail .get-social a{color:#fff;font-size:2em;opacity:0.5;}
.material-card .mc-detail .get-social a:hover{opacity:1;}

.material-card .mc-footer{height:0;overflow:hidden;-webkit-transition:all 0.3s;-moz-transition:all 0.3s;-ms-transition:all 0.3s;-o-transition:all 0.3s;transition:all 0.3s;}

.material-card.mc-active .mc-footer{padding:0.8em 1.4em;bottom:-2em;font-size:1em;line-height:1.4;width:100%;height:100px;background:#fff;position:absolute;left:0;color:#000;margin:0;z-index:10;-webkit-transition:all 0.3s;-moz-transition:all 0.3s;-ms-transition:all 0.3s;-o-transition:all 0.3s;transition:all 0.3s;position:absolute;background:#fff;transform:skew(-8deg) rotate(-8deg) translateZ(0);-webkit-transform:skew(-8deg) rotate(-8deg) translateZ(0);-moz-transform:skew(-8deg) rotate(-8deg) translateZ(0);-ms-transform:skew(-8deg) rotate(-8deg) translateZ(0);box-shadow:0 0 50px 0 rgba(5, 11, 49, 0.06);}

.material-card .mc-footer h4{position:absolute;top:200px;left:30px;padding:0;margin:0;font-size:16px;font-weight:700;-webkit-transition:all 1.4s;-moz-transition:all 1.4s;-ms-transition:all 1.4s;-o-transition:all 1.4s;transition:all 1.4s;}

.material-card .mc-footer a{display:block;float:left;position:relative;width:52px;height:52px;margin-left:5px;margin-bottom:15px;font-size:28px;color:#fff;line-height:52px;text-decoration:none;top:200px;}
.material-card .mc-detail .get-social a:nth-child(1){-webkit-transition:all 0.5s;-moz-transition:all 0.5s;-ms-transition:all 0.5s;-o-transition:all 0.5s;transition:all 0.5s;}
.material-card .img-container{overflow:hidden;position:absolute;left:0;bottom:0;width:100%;height:auto;z-index:3;-webkit-transition:all 0.3s;-moz-transition:all 0.3s;-ms-transition:all 0.3s;-o-transition:all 0.3s;transition:all 0.3s;}
.material-card .img-container img{vertical-align:bottom;}
.material-card.mc-active .img-container{top:0.6em;left:0.6em;width:60px;height:60px;z-index:20;background:#f2f7ef;border-radius:50%;-moz-border-radius:50%;-khtml-border-radius:50%;-webkit-border-radius:50%;}
.material-card.mc-active .mc-content{}

.material-card.mc-active .party-profile{width:100%;position:relative;}
.material-card.mc-active .party-name{display:block;text-align:center;transform:skew(8deg) rotate(8deg) translateZ(0);-webkit-transform:skew(8deg) rotate(8deg) translateZ(0);-moz-transform:skew(8deg) rotate(8deg) translateZ(0);-ms-transform:skew(8deg) rotate(8deg) translateZ(0);}
.material-card.mc-active .party-name span{display:block;}
.material-card.mc-active .party-name .ch{font-size:1.2em;font-weight:600;}
.material-card.mc-active .party-name .en{font-weight:400;font-size:0.9em;}
.material-card.mc-active .party-logo{top:0.6em;right:0;position:absolute;}

.material-card.mc-active .mc-detail{top:18%;opacity:1;filter:alpha(opacity=100);}

@media screen and (min-width:768px){
.material-card .mc-detail{overflow:auto;}
}

@media screen and (min-width:992px) and (max-width:1280px){
.mp-panel{width:90%;}
.material-card{min-height:260px;}
.material-card.mc-active{min-height:530px;}
.material-card.mc-active .mc-detail{top:20%;}
}

@media (orientation:landscape) and (min-width:1280px) and (max-width:1300px) and (min-height:600px) and (min-height:800px){
.material-card{min-height:360px;}
.material-card.mc-active{min-height:730px;}
.material-card.mc-active .mc-detail{top:20%;}
}

@media screen and (orientation:landscape) and (min-device-aspect-ratio: 16/9) {
.material-card{min-height:360px;}
.material-card.mc-active{min-height:730px;}
.material-card.mc-active .mc-detail{top:20%;}
}

@media screen and (max-width:767px){
.mp-panel{width:100%;}
.material-card.mc-active{padding-bottom:0;height:70vh;}
.material-card .profile-img{margin-top:0.6em;}
.active-with-click{width:80%;margin:auto;}
.material-card{min-height:280px;}
.material-card .mc-btn-action:before{display:none;}
.material-card.mc-active .mc-detail{padding:0 1em;top:18%;}
.material-card.mc-active .mc-footer{padding:1em 1em 1em 2em;}
.material-card.mc-active .party-name .ch{font-size:1.1em;}
.material-card.mc-active .party-logo{top:0;}
}

.material-card.mc-active .mc-footer a{top:0;}
.material-card.mc-active .mc-footer h4{top:-32px;}
.material-card h2{background-color:#fff;}
.material-card h2:after{border-top-color:#fff;border-right-color:#fff;border-bottom-color:transparent;border-left-color:transparent;}
.material-card h2:before{border-top-color:transparent;border-right-color:#000;border-bottom-color:#000;border-left-color:transparent;}
.material-card.mc-active h2:before{border-top-color:transparent;border-right-color:#fff;border-bottom-color:#fff;border-left-color:transparent;}
.material-card.mc-active h2:after{border-top-color:#000;border-right-color:#000;border-bottom-color:transparent;border-left-color:transparent;}
.material-card .mc-btn-action{background-color:#053193;}
.material-card .mc-btn-action:hover{background-color:#d70107;}
.material-card .mc-footer h4{color:#000;}
.material-card .mc-footer a{background-color:#000;}
.material-card.mc-active .mc-content{background-color:#053193;color:#fff;}

.spinner{-moz-animation:spinner 0.2s infinite linear;-webkit-animation:spinner 0.2s infinite linear;animation:spinner 0.2s infinite linear;}

@-webkit-keyframes spinner{
0%{-webkit-transform:rotate(0deg);transform:rotate(0deg);}
100%{-webkit-transform:rotate(359deg);transform:rotate(359deg);}
}
@keyframes spinner{
0%{-webkit-transform:rotate(0deg);transform:rotate(0deg);}
100%{-webkit-transform:rotate(359deg);transform:rotate(359deg);}
}
@-moz-keyframes spinner{
0%{-moz-transform:rotate(0deg);transform:rotate(0deg);}
100%{-moz-transform:rotate(359deg);transform:rotate(359deg);}
}